<section class="midpanel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="catalogue-panel">
                    <div class="tile-heading flex-sb-m">

                        <h4>My Catalogue <span class="items">10 Items</span></h4>
                        <!-- <div class="sucessfull mr-3 px-3">
                            <img src="assets/img/white-tick.png">
                            <div class="password-msg">4 SKU Added to My Catalouge</div>
                        </div> -->
                        <div class="leads-srch">

                            <div class="form-group has-search mb-0">
                                <span class="form-control-feedback"><img src="assets/img/search-icon.png" alt=""></span>
                                <input type="text" class="form-control" (keyup)="applySearchFilter($event.target.value)"
                                    placeholder="Search">
                            </div>

                            <a href="javascript:void(0)" class="add-new" [matMenuTriggerFor]="menu">+ ADD NEW</a>

                            <mat-menu #menu="matMenu">
                                <button (click)="goToAddSku()" mat-menu-item>
                                    <mat-icon>add</mat-icon>
                                    <span>ADD SKU</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>file_upload</mat-icon>
                                    <span>Upload Pricing File</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>get_app</mat-icon>
                                    <span>Download Pricing Template</span>
                                </button>

                            </mat-menu>


                            <a href="javascript:void(0)" role="button" style="color:rgba(125,125,125,0.95);"
                                (click)="filters()">
                                <img src="assets/img/svg-img/ic_filter.svg" alt="">
                                Filters
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="select-box-left" *ngFor="let catalogue of catalogueList">
                    <div (click)="selectUniqueCatalogue(catalogue.id)">
                        <div class="quote-smt" *ngIf="catalogue.stockStatus == 'N'">
                            Out of Stock
                        </div>
                        <div class="quote-smt" *ngIf="!catalogue.priceAdded">
                            Pricing Unavailable
                        </div>
                        <p> {{catalogue.skuName}} </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="lead-details-box px-0" *ngIf="uniqueCatalogueData">
                    <!-- <a href="javascript:void(0)" *ngIf="!isEditBtnClicked" (click)="isEditBtnClickedFunc()"
                        class="edit pr-4"><img src="assets/img/edit-icon.png" alt="">Edit</a>

                    <a href="javascript:void(0)" *ngIf="isEditBtnClicked" (click)="isEditBtnNotClickedFunc()"
                        class="edit pr-4">View</a> -->
                    <h4 class="cement-title px-4 border-b">{{uniqueCatalogueData.catalogueItem.skuName}} </h4>
                    <div class="switch-box border-b">

                        <label class="switch">
                            <input type="checkbox" *ngIf="uniqueCatalogueData.catalogueItem.stockStatus == 'N'"
                                class="off-button" (change)="toggleStock($event)">
                            <input type="checkbox" *ngIf="uniqueCatalogueData.catalogueItem.stockStatus == 'Y'"
                                class="on-button" checked="" (change)="toggleStock($event)">
                            <span class="slider round"></span>
                        </label>
                        <h4 class="cement-title ml-4">Available In Stock</h4>

                    </div>

                    <div class="Pricing-Information  border-b">
                        <h4>Pricing Information</h4>
                        <div *ngIf="uniqueCatalogueData.warehouseList[0].warehousePriceList "
                            class="form-check pl-0 mt-3">
                            <label class="container addRemainingPriceCheckBox">Add price to all Warehouses
                                <input type="checkbox" id="check1" (change)="addPriceToAllWareHouseAddress($event)"
                                    [checked]="uniqueCatalogueData.catalogueItem.samePriceAllWarehouse">
                                <span class="checkmark checkmarkInCatalogue checkCataloguePage"></span>
                            </label>

                        </div>
                    </div>

                    <div *ngIf="addPriceToAllWareHouseCheckBox">
                        <div class="Pricing-Information  border-b">
                            <div
                                *ngIf="uniqueCatalogueData.warehouseList[0].warehousePriceList && uniqueCatalogueData.warehouseList[0].warehousePriceList.length == 0 && !isEditBtnClicked">
                                <div *ngFor="let pricingForm of pricingForms; let i=index">
                                    <form [formGroup]="pricingForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="Quantity-Range">
                                                    <div class="form-group">
                                                        <label>Quantity Range</label>

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <mat-form-field
                                                                    class="quantity-mat-form inputFieldOfPrice">
                                                                    <input matInput (input)="compareMinMax(i)"
                                                                        type="number" class="form-control"
                                                                        formControlName="minPrice" placeholder="min">
                                                                    <mat-error
                                                                        *ngIf="pricingForm.controls.minPrice.errors && (!pricingForm.controls.minPrice.errors.isMinMaxInValid)">
                                                                        Invalid</mat-error>
                                                                    <mat-error
                                                                        *ngIf="pricingForm.controls.minPrice.errors && pricingForm.controls.minPrice.hasError('required')">
                                                                        Min is Required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-form-field *ngIf="i < pricingForms.length-1"
                                                                    class="quantity-mat-form inputFieldOfPrice">
                                                                    <input matInput (input)="compareMinMax(i)"
                                                                        [type]="addPriceForRemainingQuantity ? 'text' : 'number'"
                                                                        class="form-control" formControlName="maxPrice"
                                                                        placeholder="max">

                                                                    <mat-error
                                                                        *ngIf="pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                        Invalid</mat-error>
                                                                </mat-form-field>

                                                                <mat-form-field *ngIf="i == pricingForms.length-1"
                                                                    class="quantity-mat-form inputFieldOfPrice"
                                                                    [hidden]="addPriceForRemainingQuantity">
                                                                    <input matInput (input)="compareMinMax(i)"
                                                                        type="number" class="form-control"
                                                                        formControlName="maxPrice" placeholder="max">

                                                                    <mat-error
                                                                        *ngIf="pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                        Invalid</mat-error>
                                                                </mat-form-field>

                                                                <mat-form-field *ngIf="i == pricingForms.length-1"
                                                                    class="quantity-mat-form inputFieldOfPrice"
                                                                    [hidden]="!addPriceForRemainingQuantity">
                                                                    <input matInput class="form-control" value="∞"
                                                                        disabled placeholder="max">
                                                                </mat-form-field>

                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group lableup mb-0 mt-4">
                                                    <mat-form-field class="quantity-mat-form">
                                                        <input matInput type="number" id="mobile"
                                                            formControlName="price" placeholder="Price Per Bag (₹)"
                                                            class="form-control inputLableUp">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- <div *ngIf="!isEditBtnClicked">
                                <div *ngFor="let pricingOfWarehouse of uniqueCatalogueData.warehouseList[0].warehousePriceList; let i=index"
                                    class="row">
                                    <div class="col-md-6">
                                        <div class="Quantity-Range">
                                            <div class="form-group">
                                                <label>Quantity Range</label>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <mat-form-field class="quantity-mat-form inputFieldOfPrice">
                                                            <input matInput
                                                                class="form-control catalogue-list-input-disabled"
                                                                placeholder="min" [value]="pricingOfWarehouse.minQty"
                                                                [disabled]="!isEditBtnClicked">

                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <mat-form-field class="quantity-mat-form inputFieldOfPrice">
                                                            <input matInput type="number"
                                                                class="form-control catalogue-list-input-disabled"
                                                                placeholder="max" [value]="pricingOfWarehouse.maxQty"
                                                                [disabled]="!isEditBtnClicked">
                                                        </mat-form-field>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group lableup mb-0 mt-4">
                                            <mat-form-field class="quantity-mat-form">
                                                <input matInput type="number" id="mobile"
                                                    placeholder="Price Per Bag (₹)"
                                                    class="form-control inputLableUp catalogue-list-input-disabled"
                                                    [value]="pricingOfWarehouse.price" [disabled]="!isEditBtnClicked">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div *ngIf="isEditBtnClicked && uniqueCatalogueData.catalogueItem.samePriceAllWarehouse">
                                <div *ngFor="let editPricingAllForm of editPricingAllForms; let i=index">
                                    <form [formGroup]="editPricingAllForm">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="Quantity-Range">
                                                    <div class="form-group">
                                                        <label>Quantity Range</label>

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <mat-form-field
                                                                    class="quantity-mat-form inputFieldOfPrice">
                                                                    <input matInput (input)="compareMinMaxEdit(i)"
                                                                        type="number" class="form-control"
                                                                        formControlName="minPrice" placeholder="min">
                                                                    <mat-error
                                                                        *ngIf="editPricingAllForm.controls.minPrice.errors && (!editPricingAllForm.controls.minPrice.errors.isMinMaxInValid)">
                                                                        Invalid</mat-error>
                                                                    <mat-error
                                                                        *ngIf="editPricingAllForm.controls.minPrice.errors && editPricingAllForm.controls.minPrice.hasError('required')">
                                                                        Min is Required</mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-form-field *ngIf="i<editPricingAllForms.length-1"
                                                                    class="quantity-mat-form inputFieldOfPrice">
                                                                    <input matInput (input)="compareMinMaxEdit(i)"
                                                                        type="number" class="form-control"
                                                                        formControlName="maxPrice" placeholder="max">

                                                                    <mat-error
                                                                        *ngIf="editPricingAllForm.controls.maxPrice.errors && (!editPricingAllForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                        Invalid</mat-error>
                                                                </mat-form-field>

                                                                <input matInput class="form-control"
                                                                    formControlName="check" hidden placeholder="max">

                                                                <mat-error style="font-size: 12px"
                                                                    *ngIf="editPricingAllForm.controls.check.errors && (!editPricingAllForm.controls.check.errors.isMinMaxInValid)">
                                                                    Max-Min Invalid</mat-error>

                                                                <mat-form-field
                                                                    *ngIf="i == editPricingAllForms.length-1"
                                                                    class="quantity-mat-form inputFieldOfPrice"
                                                                    [hidden]="addPriceForRemainingQuantity">
                                                                    <input matInput (input)="compareMinMaxEdit(i)"
                                                                        type="number" class="form-control"
                                                                        formControlName="maxPrice" placeholder="max">

                                                                    <mat-error
                                                                        *ngIf="editPricingAllForm.controls.maxPrice.errors && (!editPricingAllForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                        Invalid</mat-error>
                                                                </mat-form-field>

                                                                <mat-form-field
                                                                    *ngIf="i == editPricingAllForms.length-1"
                                                                    class="quantity-mat-form inputFieldOfPrice"
                                                                    [hidden]="!addPriceForRemainingQuantity">
                                                                    <input matInput class="form-control"
                                                                        placeholder="max" value="∞" disabled>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group lableup mb-0 mt-4">
                                                    <mat-form-field class="quantity-mat-form">
                                                        <input matInput type="number" id="mobile"
                                                            formControlName="price" placeholder="Price Per Bag (₹)"
                                                            class="form-control inputLableUp">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- <div *ngIf="addPriceForRemainingQuantity">
                            <div class="row" *ngFor="let addAnotherRange of addAnotherRangeCount; let i=index">
                                <div class="col-md-6">
                                    <div class="Quantity-Range" *ngIf="((i+1) === addAnotherRangeCount.length)">
                                        <div class="form-group">
                                            <label>Quantity Range</label>
                                            <label *ngIf="errorMin || errorMax" style="color: red;">Error Range</label>
                                            <input type="number" class="form-control" placeholder="min"
                                                (keyup)="allMinQty($event,i)">
                                            <input type="number" class="form-control" placeholder="   ∞" disabled>

                                        </div>
                                    </div>

                                    <div class="Quantity-Range" *ngIf="!((i+1) === addAnotherRangeCount.length)">
                                        <div class="form-group">
                                            <label>Quantity Range</label>
                                            <label *ngIf="errorMin || errorMax" style="color:red;">Error Range</label>
                                            <input type="number" class="form-control" placeholder="min"
                                                (keyup)="allMinQty($event,i)">
                                            <input type="number" class="form-control" placeholder="max"
                                                (keyup)="allMaxQty($event,i)">

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group lableup mb-0 mt-4">
                                        <input type="number" id="mobile" class="form-control inputLableUp" value="">
                                        <label class="form-control-placeholder" for="buisness">Price Per Bag (₹)</label>

                                    </div>
                                </div>
                            </div>
                        </div> -->
                            <div *ngIf="(uniqueCatalogueData.warehouseList[0].warehousePriceList && uniqueCatalogueData.warehouseList[0].warehousePriceList.length == 0) || isEditBtnClicked"
                                class="row">
                                <div class="col-md-6">
                                    <div class="form-check pl-0 mt-3">
                                        <!-- <input type="checkbox"  id="check1" checked="">
                                            <label for="check1">Use the same pricing for all warehouses</label> -->

                                        <label class="container addRemainingPriceCheckBox">Add price for the
                                            remaining
                                            quantity
                                            <input type="checkbox" id="check1"
                                                (change)="addPriceForRemainingQty($event)">
                                            <span class="checkmark checkmarkInCatalogue checkCataloguePage"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <a href="javascript:void(0)" (click)="addAnotherRange()" class="edit mt-lg-3">+
                                            ADD ANOTHER RANGE</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <div class="house-address p-3"
                                *ngIf="uniqueCatalogueData.warehouseList.length>0; else showAddWareHouse">
                                <h4 class="cement-title">Warehouse Address</h4>

                                <ng-container *ngFor="let warehouse of uniqueCatalogueData.warehouseList">
                                    <div class="addres-details mb-2">
                                        <p class="ads-t">{{warehouse.warehouseAddress.name}}</p>
                                        <p>{{warehouse.warehouseAddress.addressLine1}}</p>
                                        <p>{{warehouse.warehouseAddress.addressLine2}}</p>
                                        <p>{{warehouse.warehouseAddress.city.name}},
                                            {{warehouse.warehouseAddress.state.name}} -
                                            {{warehouse.warehouseAddress.pincode}}</p>
                                        <p>Phone : {{warehouse.warehouseAddress.phoneNo}}</p>
                                    </div>
                                </ng-container>

                                <p class="note-par"> <span>Note:</span> BuildSupply will pick up the material from above
                                    mentioned location.</p>

                                <div class="save-orange">

                                    <button type="submit"
                                        *ngIf="isEditBtnClicked && uniqueCatalogueData.catalogueItem.samePriceAllWarehouse"
                                        (click)="addPricingAllWarehouseAddress()" class="btn orangeBttn m-md-0"
                                        [disabled]="editMinMaxIsFalse || minMaxValidValue">Add
                                        Pricing</button>
                                </div>

                            </div>
                            <ng-template #showAddWareHouse>
                                <h4 class="cement-title">Warehouse Address</h4>
                                <a (click)="addWareHouseAddressBtnClicked()" href="javascript:void(0)">
                                    <div class="add-address">
                                        <p>+ Add New Address</p>
                                    </div>
                                </a>
                            </ng-template>
                        </div>
                    </div>

                    <div *ngIf="!addPriceToAllWareHouseCheckBox">
                        <div class="house-address p-3" *ngIf="uniqueCatalogueData.warehouseList.length>0;">
                            <h4 class="cement-title">Warehouse Address</h4>

                            <ng-container *ngFor="let warehouse of warehouseData;let indx = index">
                                <div class="addres-details mb-2">
                                    <p class="ads-t">{{warehouse.address.name}}</p>
                                    <p>{{warehouse.address.addressLine1}}</p>
                                    <p>{{warehouse.address.addressLine2}}</p>
                                    <p>{{warehouse.address.city.name}},
                                        {{warehouse.address.state.name}} -
                                        {{warehouse.address.pincode}}</p>
                                    <p>Phone : {{warehouse.address.phoneNo}}</p>
                                </div>
                                <div>
                                    <div *ngFor="let pricingForm of warehouse.pricingForms; let i=index">
                                        <form [formGroup]="pricingForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="Quantity-Range">
                                                        <div class="form-group">
                                                            <label>Quantity Range</label>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <mat-form-field
                                                                        class="quantity-mat-form inputFieldOfPrice">
                                                                        <input matInput
                                                                            (input)="compareMinMaxIndvidual(i,indx)"
                                                                            type="number" class="form-control"
                                                                            formControlName="minPrice"
                                                                            placeholder="min">
                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.minPrice.errors && (!pricingForm.controls.minPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.minPrice.errors && pricingForm.controls.minPrice.hasError('required')">
                                                                            Min is Required</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <mat-form-field
                                                                        class="quantity-mat-form inputFieldOfPrice"
                                                                        *ngIf="(i < (warehouse.pricingForms.length - 1))">
                                                                        <input matInput
                                                                            (input)="compareMinMaxIndvidual(i,indx)"
                                                                            type="number" class="form-control"
                                                                            formControlName="maxPrice"
                                                                            placeholder="max">
                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                    </mat-form-field>

                                                                    <input matInput class="form-control"
                                                                        formControlName="check" hidden
                                                                        placeholder="max">

                                                                    <mat-error style="font-size: 12px"
                                                                        *ngIf="pricingForm.controls.check.errors && (!pricingForm.controls.check.errors.isMinMaxInValid)">
                                                                        Max-Min Invalid</mat-error>

                                                                    <mat-form-field
                                                                        *ngIf="(i === warehouse.pricingForms.length-1)"
                                                                        class="quantity-mat-form inputFieldOfPrice"
                                                                        [hidden]="addPriceForRemainingIndividualQuantity">
                                                                        <input matInput
                                                                            (input)="compareMinMaxIndvidual(i,indx)"
                                                                            type="number" class="form-control"
                                                                            formControlName="maxPrice"
                                                                            placeholder="max">

                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                    </mat-form-field>
                                                                    <mat-form-field
                                                                        *ngIf="(i===warehouse.pricingForms.length-1)"
                                                                        class="quantity-mat-form inputFieldOfPrice"
                                                                        [hidden]="!addPriceForRemainingIndividualQuantity">
                                                                        <input matInput class="form-control" value="∞"
                                                                            placeholder="max" disabled>
                                                                    </mat-form-field>

                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group lableup mb-0 mt-4">
                                                        <mat-form-field class="quantity-mat-form">
                                                            <input matInput type="number" id="mobile"
                                                                formControlName="price" placeholder="Price Per Bag (₹)"
                                                                class="form-control inputLableUp">
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div *ngIf="(uniqueCatalogueData.warehouseList[0].warehousePriceList && uniqueCatalogueData.warehouseList[0].warehousePriceList.length == 0) || isEditBtnClicked"
                                        class="row">
                                        <div class="col-md-6">
                                            <div class="form-check pl-0 mt-3">
                                                <label class="container addRemainingPriceCheckBox">Add price for the
                                                    remaining
                                                    quantity
                                                    <input type="checkbox" id="check1"
                                                        (change)="addPriceForRemainingQtyIndividualWarehouse($event,warehouse.pricingForms,indx)">
                                                    <span
                                                        class="checkmark checkmarkInCatalogue checkCataloguePage"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                <a href="javascript:void(0)"
                                                    (click)="addAnotherRangeIndividual(warehouse.pricingForms)"
                                                    class="edit mt-lg-3">+
                                                    ADD ANOTHER RANGE</a>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <br>
                                <hr *ngIf="indx<(warehouseData.length-1)">
                            </ng-container>

                            <p class="note-par"> <span>Note:</span> BuildSupply will pick up the material from above
                                mentioned location.</p>

                            <div class="save-orange">
                                <button type="submit" (click)="addPricingIndividualWarehouseAddress()"
                                    class="btn orangeBttn m-md-0"
                                    [disabled]="editMinMaxIsFalse || (pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)) || (pricingForm.controls.minPrice.errors && (!pricingForm.controls.minPrice.errors.isMinMaxInValid))">Add
                                    Pricing</button>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>