<section class="midpanel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="catalogue-panel">
                    <div class="tile-heading flex-sb-m">

                        <h4>My Catalogue <span class="items" *ngIf="catalogueList">{{catalogueList.length}}
                                Items</span></h4>

                        <div class="leads-srch">

                            <div class="form-group has-search mb-0">
                                <span class="form-control-feedback"><img src="assets/img/search-icon.png" alt=""></span>
                                <input type="text" class="form-control" (keyup)="applySearchFilter($event.target.value)"
                                    placeholder="Search">
                            </div>

                            <a href="javascript:void(0)" class="add-new" [matMenuTriggerFor]="menu">+ ADD NEW</a>

                            <mat-menu #menu="matMenu">
                                <button (click)="goToAddSku()" mat-menu-item>
                                    <mat-icon>add</mat-icon>
                                    <span>ADD SKU</span>
                                </button>
                                <button mat-menu-item (click)="SendAllCatalogueListToMail()">
                                    <mat-icon>email</mat-icon>
                                    <span>Get Cataolgue on Email</span>
                                </button>
                                <button mat-menu-item (click)="openDialog()">
                                    <mat-icon>file_upload</mat-icon>
                                    <span>Bulk Catalogue File</span>
                                </button>
                            </mat-menu>


                            <a href="javascript:void(0)" role="button" style="color:rgba(125,125,125,0.95);"
                                (click)="filters()">
                                <img [src]="count ? 'assets/img/filler-icon.png' : 'assets/img/svg-img/ic_filter.svg'"
                                    alt="">
                                <span class="filter-no" *ngIf="count">{{count}}</span>
                                Filters
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="select-box-left" *ngFor="let catalogue of catalogueList">
                    <div (click)="selectUniqueCatalogue(catalogue.id)">
                        <div class="quote-smt" *ngIf="catalogue.stockStatus == 'N'">
                            Out of Stock
                        </div>
                        <div class="quote-smt" *ngIf="!catalogue.priceAdded">
                            Pricing Unavailable
                        </div>
                        <div class="listOfCatalogues">
                            <div class="allCatalogueImg">
                                <img [src]="catalogue.imageUrl">
                            </div>
                            <div>
                                <span> {{catalogue.skuName}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="lead-details-box px-0" *ngIf="uniqueCatalogueData">
                    <div class="image-unique-catalogue">
                        <img [src]="uniqueCatalogueData.catalogueItem.imageUrl">
                    </div>
                    <h4 class="cement-title px-4 border-b">{{uniqueCatalogueData.catalogueItem.skuName}} </h4>
                    <div class="switch-box border-b">

                        <label class="switch">
                            <!-- <input type="checkbox" *ngIf="uniqueCatalogueData.catalogueItem.stockStatus == 'N'"
                                class="off-button" (change)="toggleStock($event)">
                            <input type="checkbox" *ngIf="uniqueCatalogueData.catalogueItem.stockStatus == 'Y'"
                                class="on-button" checked="" (change)="toggleStock($event)"> -->

                            <input type="checkbox" *ngIf="!stockstatus" class="off-button"
                                (change)="toggleStock($event)">
                            <input type="checkbox" *ngIf="stockstatus" class="on-button" checked=""
                                (change)="toggleStock($event)">

                            <span class="slider round"></span>
                        </label>
                        <h4 class="cement-title ml-4" *ngIf="!stockstatus">Stock
                            Unavailable</h4>
                        <h4 class="cement-title ml-4" *ngIf="stockstatus">Stock
                            Available</h4>

                    </div>

                    <div class="Pricing-Information  border-b">
                        <h4>Pricing Information</h4>
                        <!-- <div *ngIf="uniqueCatalogueData.warehouseList[0].warehousePriceList "
                            class="form-check pl-0 mt-3"> -->
                        <div *ngIf="uniqueCatalogueData" class="form-check pl-0 mt-3">
                            <label class="container addRemainingPriceCheckBox">Use the same pricing for all warehouses
                                <input type="checkbox" id="check1" (change)="addPriceToAllWareHouseAddress($event)"
                                    [checked]="uniqueCatalogueData.catalogueItem.samePriceAllWarehouse">
                                <span class="checkmark checkmarkInCatalogue checkCataloguePage"></span>
                            </label>

                        </div>
                    </div>

                    <div *ngIf="addPriceToAllWareHouseCheckBox">
                        <div class="Pricing-Information  border-b" *ngIf="uniqueCatalogueData.warehouseList.length>0">

                            <ng-container *ngIf="uniqueCatalogueData.warehouseList.length>0">
                                <div
                                    *ngIf="uniqueCatalogueData.warehouseList[0].warehousePriceList && uniqueCatalogueData.warehouseList[0].warehousePriceList.length == 0 && !isEditBtnClicked">
                                    <div *ngFor="let pricingForm of pricingForms; let i=index">
                                        <form [formGroup]="pricingForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="Quantity-Range">
                                                        <div class="form-group">
                                                            <label>Quantity Range</label>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <mat-form-field
                                                                        class="quantity-mat-form inputFieldOfPrice">
                                                                        <input matInput (input)="compareMinMax(i)"
                                                                            type="number" class="form-control"
                                                                            formControlName="minPrice"
                                                                            placeholder="start" required>
                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.minPrice.errors && (!pricingForm.controls.minPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.minPrice.errors && pricingForm.controls.minPrice.hasError('required')">
                                                                            Min is Required</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <mat-form-field *ngIf="i < pricingForms.length-1"
                                                                        class="quantity-mat-form inputFieldOfPrice">
                                                                        <input matInput (input)="compareMinMax(i)"
                                                                            [type]="addPriceForRemainingQuantity ? 'text' : 'number'"
                                                                            class="form-control"
                                                                            formControlName="maxPrice"
                                                                            placeholder="end">

                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                    </mat-form-field>
                                                                    <input matInput class="form-control"
                                                                        formControlName="check" hidden
                                                                        placeholder="end">

                                                                    <mat-error style="font-size: 12px"
                                                                        *ngIf="pricingForm.controls.check.errors && (!pricingForm.controls.check.errors.isMinMaxInValid)">
                                                                        Start - End Invalid</mat-error>

                                                                    <mat-form-field *ngIf="i == pricingForms.length-1"
                                                                        class="quantity-mat-form inputFieldOfPrice"
                                                                        [hidden]="addPriceForRemainingQuantity">
                                                                        <input matInput (input)="compareMinMax(i)"
                                                                            type="number" class="form-control"
                                                                            formControlName="maxPrice"
                                                                            placeholder="end">

                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field *ngIf="i == pricingForms.length-1"
                                                                        class="quantity-mat-form inputFieldOfPrice"
                                                                        [hidden]="!addPriceForRemainingQuantity">
                                                                        <input matInput class="form-control" value="∞"
                                                                            disabled placeholder="end">
                                                                    </mat-form-field>

                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group lableup mb-0 mt-4">
                                                        <mat-form-field class="quantity-mat-form">
                                                            <input matInput type="number" id="mobile"
                                                                (input)="checkPrice(i)" formControlName="price"
                                                                placeholder="Price Per Unit (₹)"
                                                                class="form-control inputLableUp" required>
                                                            <mat-error
                                                                *ngIf="pricingForm.controls.price.errors && pricingForm.controls.price.hasError('required')">
                                                                Price is Required</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="i > 0">
                                                        <button class="close-btn" (click)="deletePicingAllWarehouse(i)"
                                                            mat-menu-item>
                                                            <mat-icon>close</mat-icon>

                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="(uniqueCatalogueData.warehouseList.length > 0)">
                                <div
                                    *ngIf="isEditBtnClicked && uniqueCatalogueData.catalogueItem.samePriceAllWarehouse">
                                    <div *ngFor="let editPricingAllForm of editPricingAllForms; let i=index">
                                        <form [formGroup]="editPricingAllForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="Quantity-Range">
                                                        <div class="form-group">
                                                            <label>Quantity Range</label>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <mat-form-field
                                                                        class="quantity-mat-form inputFieldOfPrice">
                                                                        <input matInput (input)="compareMinMaxEdit(i)"
                                                                            type="number" class="form-control"
                                                                            formControlName="minPrice"
                                                                            placeholder="start" required>
                                                                        <mat-error
                                                                            *ngIf="editPricingAllForm.controls.minPrice.errors && (!editPricingAllForm.controls.minPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                        <mat-error
                                                                            *ngIf="editPricingAllForm.controls.minPrice.errors && editPricingAllForm.controls.minPrice.hasError('required')">
                                                                            Min is Required</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <mat-form-field
                                                                        *ngIf="i<editPricingAllForms.length-1"
                                                                        class="quantity-mat-form inputFieldOfPrice">
                                                                        <input matInput (input)="compareMinMaxEdit(i)"
                                                                            type="number" class="form-control"
                                                                            formControlName="maxPrice"
                                                                            placeholder="end">

                                                                        <mat-error
                                                                            *ngIf="editPricingAllForm.controls.maxPrice.errors && (!editPricingAllForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                    </mat-form-field>

                                                                    <input matInput class="form-control"
                                                                        formControlName="check" hidden
                                                                        placeholder="end">

                                                                    <mat-error style="font-size: 12px"
                                                                        *ngIf="editPricingAllForm.controls.check.errors && (!editPricingAllForm.controls.check.errors.isMinMaxInValid)">
                                                                        Start - End Invalid</mat-error>

                                                                    <mat-form-field
                                                                        *ngIf="i == editPricingAllForms.length-1"
                                                                        class="quantity-mat-form inputFieldOfPrice"
                                                                        [hidden]="addPriceForRemainingQuantity">
                                                                        <input matInput (input)="compareMinMaxEdit(i)"
                                                                            type="number" class="form-control"
                                                                            formControlName="maxPrice"
                                                                            placeholder="end">

                                                                        <mat-error
                                                                            *ngIf="editPricingAllForm.controls.maxPrice.errors && (!editPricingAllForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field
                                                                        *ngIf="i == editPricingAllForms.length-1"
                                                                        class="quantity-mat-form inputFieldOfPrice"
                                                                        [hidden]="!addPriceForRemainingQuantity">
                                                                        <input matInput class="form-control"
                                                                            placeholder="end" value="∞" disabled>

                                                                    </mat-form-field>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group lableup mb-0 mt-4">
                                                        <mat-form-field class="quantity-mat-form">
                                                            <input matInput type="number" id="mobile"
                                                                (input)="checkPriceEdit(i)" formControlName="price"
                                                                placeholder="Price Per Unit (₹)"
                                                                class="form-control inputLableUp" required>
                                                            <mat-error
                                                                *ngIf="editPricingAllForm.controls.price.errors && editPricingAllForm.controls.price.hasError('required')">
                                                                Price is Required</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="i > 0">
                                                        <button class="close-btn"
                                                            (click)="deletePicingAllWarehouseEdit(i)" mat-menu-item>
                                                            <mat-icon>close</mat-icon>

                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="uniqueCatalogueData.warehouseList.length > 0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check pl-0 mt-3">
                                            <label class="container addRemainingPriceCheckBox">
                                                <ng-container
                                                    *ngIf="isEditBtnClicked && uniqueCatalogueData.catalogueItem.samePriceAllWarehouse">
                                                    For qty more than or
                                                    equal to
                                                    {{editPricingAllForms[(editPricingAllForms.length)-1].controls.minPrice.value}}
                                                    use the above pricing
                                                </ng-container>
                                                <ng-container
                                                    *ngIf="uniqueCatalogueData.warehouseList[0].warehousePriceList && uniqueCatalogueData.warehouseList[0].warehousePriceList.length == 0 && !isEditBtnClicked">
                                                    For qty more than or
                                                    equal to
                                                    {{pricingForms[(pricingForms.length)-1].controls.minPrice.value}}
                                                    use the above pricing
                                                </ng-container>

                                                <input type="checkbox" id="check1"
                                                    (change)="addPriceForRemainingQty($event)">
                                                <span class="checkmark checkmarkInCatalogue checkCataloguePage"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="!addPriceForRemainingQuantity">
                                            <a href="javascript:void(0)" (click)="addAnotherRange()"
                                                class="edit mt-lg-3">+
                                                ADD ANOTHER RANGE</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                        <br>

                        <div class="col-md-12">
                            <ng-container *ngIf="uniqueCatalogueData.warehouseList.length > 0">
                                <div class="house-address p-3">
                                    <h4 class="cement-title">Warehouse Address</h4>

                                    <ng-container *ngFor="let warehouse of uniqueCatalogueData.warehouseList">
                                        <div class="addres-details mb-2">
                                            <p class="ads-t">{{warehouse.warehouseAddress.name}}</p>
                                            <p>{{warehouse.warehouseAddress.addressLine1}}</p>
                                            <p>{{warehouse.warehouseAddress.addressLine2}}</p>
                                            <p>{{warehouse.warehouseAddress.city.name}},
                                                {{warehouse.warehouseAddress.state.name}} -
                                                {{warehouse.warehouseAddress.pincode}}</p>
                                            <p>Phone : {{warehouse.warehouseAddress.phoneNo}}</p>
                                        </div>
                                    </ng-container>

                                    <p class="note-par"> <span>Note:</span> The above prices are exluding GST and
                                        shipping charges.</p>

                                    <div class="save-orange">

                                        <button type="submit" (click)="addPricingAllWarehouseAddress()"
                                            class="btn orangeBttn m-md-0"
                                            [disabled]="editMinMaxIsFalse || minMaxValidValue ||  checkPriceValidate">Add
                                            Pricing</button>
                                    </div>

                                </div>
                            </ng-container>
                            <ng-container *ngIf="uniqueCatalogueData.warehouseList.length == 0">
                                <h4 class="cement-title">Warehouse Address</h4>
                                <a (click)="addWareHouseAddressBtnClicked()" href="javascript:void(0)">
                                    <div class="add-address">
                                        <p>+ Add New Address</p>
                                    </div>
                                </a>
                            </ng-container>
                        </div>
                    </div>

                    <div *ngIf="!addPriceToAllWareHouseCheckBox">
                        <div class="house-address p-3"
                            *ngIf="uniqueCatalogueData.warehouseList.length>0;else showIndividualAdd">
                            <h4 class="cement-title">Warehouse Address</h4>

                            <ng-container *ngFor="let warehouse of warehouseData;let indx = index">
                                <div class="addres-details mb-2">
                                    <p class="ads-t">{{warehouse.address.name}}</p>
                                    <p>{{warehouse.address.addressLine1}}</p>
                                    <p>{{warehouse.address.addressLine2}}</p>
                                    <p>{{warehouse.address.city.name}},
                                        {{warehouse.address.state.name}} -
                                        {{warehouse.address.pincode}}</p>
                                    <p>Phone : {{warehouse.address.phoneNo}}</p>
                                </div>
                                <div>
                                    <div *ngFor="let pricingForm of warehouse.pricingForms; let i=index">
                                        <form [formGroup]="pricingForm">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="Quantity-Range">
                                                        <div class="form-group">
                                                            <label>Quantity Range</label>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <mat-form-field
                                                                        class="quantity-mat-form inputFieldOfPrice">
                                                                        <input matInput
                                                                            (input)="compareMinMaxIndvidual(i,indx)"
                                                                            type="number" class="form-control"
                                                                            formControlName="minPrice"
                                                                            placeholder="start" required>
                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.minPrice.errors && (!pricingForm.controls.minPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.minPrice.errors && pricingForm.controls.minPrice.hasError('required')">
                                                                            Min is Required</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <mat-form-field
                                                                        class="quantity-mat-form inputFieldOfPrice"
                                                                        *ngIf="(i < (warehouse.pricingForms.length - 1))">
                                                                        <input matInput
                                                                            (input)="compareMinMaxIndvidual(i,indx)"
                                                                            type="number" class="form-control"
                                                                            formControlName="maxPrice"
                                                                            placeholder="end">
                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                    </mat-form-field>

                                                                    <input matInput class="form-control"
                                                                        formControlName="check" hidden
                                                                        placeholder="end">

                                                                    <mat-error style="font-size: 12px"
                                                                        *ngIf="pricingForm.controls.check.errors && (!pricingForm.controls.check.errors.isMinMaxInValid)">
                                                                        Start - End Invalid</mat-error>

                                                                    <mat-form-field
                                                                        *ngIf="((i === warehouse.pricingForms.length-1) && (addPriceForRemainingIndividualQuantityNumber[indx] != indx))"
                                                                        class="quantity-mat-form inputFieldOfPrice">
                                                                        <input matInput
                                                                            (input)="compareMinMaxIndvidual(i,indx)"
                                                                            type="number" class="form-control"
                                                                            formControlName="maxPrice"
                                                                            placeholder="end">

                                                                        <!-- {{addPriceForRemainingIndividualQuantityNumber[indx]}}<br>
                                                                        {{indx}} ena <br>
                                                                        {{addPriceForRemainingIndividualQuantityNumber[indx] != indx}}
                                                                        {{addPriceForRemainingIndividualQuantity[indx]}} -->

                                                                        <mat-error
                                                                            *ngIf="pricingForm.controls.maxPrice.errors && (!pricingForm.controls.maxPrice.errors.isMinMaxInValid)">
                                                                            Invalid</mat-error>
                                                                    </mat-form-field>
                                                                    <mat-form-field
                                                                        *ngIf="((i === warehouse.pricingForms.length-1) && (addPriceForRemainingIndividualQuantityNumber[indx] == indx) && (addPriceForRemainingIndividualQuantity[indx]) )"
                                                                        class="quantity-mat-form inputFieldOfPrice">
                                                                        <input matInput class="form-control" value="∞"
                                                                            placeholder="end" disabled>

                                                                        <!-- {{addPriceForRemainingIndividualQuantityNumber[indx]}}<br>
                                                                        {{indx}} dis <br>
                                                                        {{addPriceForRemainingIndividualQuantityNumber[indx] == indx}}
                                                                        {{addPriceForRemainingIndividualQuantity[indx]}} -->

                                                                    </mat-form-field>

                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group lableup mb-0 mt-4">
                                                        <mat-form-field class="quantity-mat-form">
                                                            <input matInput type="number" id="mobile"
                                                                (input)="checkPriceIndvidual(i,indx)"
                                                                formControlName="price" placeholder="Price Per Unit (₹)"
                                                                class="form-control inputLableUp" required>
                                                            <mat-error
                                                                *ngIf="pricingForm.controls.price.errors && pricingForm.controls.price.hasError('required')">
                                                                Price is Required</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="i > 0">
                                                        <button class="close-btn"
                                                            (click)="deletePicingIndividualWarehouse(warehouse.pricingForms,i)"
                                                            mat-menu-item>
                                                            <mat-icon>close</mat-icon>

                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div *ngIf="(uniqueCatalogueData.warehouseList[0].warehousePriceList && uniqueCatalogueData.warehouseList[0].warehousePriceList.length == 0) || isEditBtnClicked"
                                        class="row">
                                        <div class="col-md-6">
                                            <div class="form-check pl-0 mt-3">
                                                <label class="container addRemainingPriceCheckBox">For qty more than or
                                                    equal to
                                                    {{warehouse.pricingForms[(warehouse.pricingForms.length)-1].controls.minPrice.value}}
                                                    use the above pricing
                                                    <input type="checkbox" id="check1"
                                                        (change)="addPriceForRemainingQtyIndividualWarehouse($event,warehouse.pricingForms,indx)">
                                                    <span
                                                        class="checkmark checkmarkInCatalogue checkCataloguePage"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div *ngIf="!addPriceForRemainingIndividualQuantity[indx]">
                                                <a href="javascript:void(0)"
                                                    (click)="addAnotherRangeIndividual(warehouse.pricingForms,indx)"
                                                    class="edit mt-lg-3">+
                                                    ADD ANOTHER RANGE</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <hr *ngIf="indx<(warehouseData.length-1)">
                            </ng-container>

                            <p class="note-par"> <span>Note:</span> The above prices are exluding GST and shipping
                                charges.</p>

                            <div class="save-orange">
                                <button type="submit" (click)="addPricingIndividualWarehouseAddress()"
                                    class="btn orangeBttn m-md-0"
                                    [disabled]="editMinMaxIsFalse || minMaxValidValue ||  checkPriceValidate || AllIndividualForms">Add
                                    Pricing</button>
                            </div>

                        </div>

                        <ng-template #showIndividualAdd>
                            <div class="house-address p-3">
                                <h4 class="cement-title">Warehouse Address</h4>
                                <a (click)="addWareHouseAddressBtnClicked()" href="javascript:void(0)">
                                    <div class="add-address">
                                        <p>+ Add New Address</p>
                                    </div>
                                </a>
                            </div>
                        </ng-template>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>