<mat-dialog-content>


  <div class="form-group lableup form-control" *ngIf="fileName == null">
    <div class="browser-method">
      <img src="assets/img/upload.png" class="download-img" alt="">
      <label class="myLabel">
        <input type="file" name="file" #file
          accept="image/x-png,image/gif,image/jpeg,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.txt"
          (change)="onFileSelected($event)" style="display: none;" required="" class="inputLableUp">
        <span>Choose File</span>
      </label>
      <a href="#" *ngIf="!fileName"> <img src="assets/img/svg-img/ic_information.svg" alt=""></a>
      <!-- <span style="font-size: 12px;color:#716767;">{{ fileName }}</span> -->


    </div>
  </div>


  <div class="pdf mb-4 mt-0" *ngIf="fileName">
    <a href="javascript:void(0)" (click)='closeFileDiv($event)'>Remove</a>
    <span>{{ fileName }}</span>
  </div>
  <br>
  <button *ngIf="fileName" class="addToEmailBtn" (click)="UploadFile()">Upload File</button>

  <br>
  <div *ngIf="success"> Success ! </div>
</mat-dialog-content>