    <section class="midpanel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="catalogue-panel">
                        <div class="tile-heading flex-sb-m">
                            <h4>My Catalogue <span class="items">0 Items</span></h4>
                            <!-- <div class="leads-srch">
                                <div class="form-group has-search mb-0">
                                    <span class="form-control-feedback"><img src="assets/img/search-icon.png" alt=""></span>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>

                                <a href="#myModal" role="button" data-toggle="modal"
                                    style="color:rgba(125,125,125,0.95);"> <img src="assets/img/svg-img/ic_filter.svg"
                                        alt="">
                                    Filters
                                </a>
                            </div> -->
                        </div>
                        <div class="rightbar-panel ptb-148 addsku text-center">
                            <div class="add-sku-img"><img src="assets/img/add-sku.png"></div>
                            <p>There are no Items in your Catalouge </p>
                            <div class="add-sku-link"><a href="javascript:void(0)" (click)="addSku()"><img src="assets/img/orange-plus.png">Add Sku</a></div>
                            <!-- <div class="download-box">
                                <a href="#">
                                    <img src="assets/img/uplod-gray.png" alt="">
                                    <span>Upload Pricing FIle</span>
                                </a>
                            </div>
                            <div class="download-box">
                                <a href="#">
                                    <img src="assets/img/download.png" alt="">
                                    <span>Download Pricing Template</span>
                                </a>
                                <p>(Please ensure that you upload pricing in the BuildSupply template only)</p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
   