<section class="midpanel bg-white pb-5">
    <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tile-heading flex-sb-m open-tile">
                        <h4>Please select materials that you deal in</h4>
                        <div class="save-orange">
                            <button (click)="continue()" class="btn orangeBttn" [disabled]="isDisabled">Continue</button>
                        </div>
                    </div>
                </div>
                
                <ng-container *ngFor="let category of categories">
                    <div class="col-sm-6 col-md-4">
                        <div class="catalogue-box-area">
                            <div class="catalogue-box-inner" 
                                (click)="category.isSelected = !category.isSelected"
                                [class.active]="category.isSelected">
                                <div class="tile-name">
                                    <img src="assets/img/white-tick.png">
                                    {{ category.name }}
                                </div>
                                <img [src]="category.imageUrl ? category.imageUrl : 'assets/img/bricks.png'" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="col-sm-6 col-md-4">
                    <div class="catalogue-box-area">
                        <div class="catalogue-box-inner catalogue-box-area__other">
                            <div class="tile-name">
                                <h5 class="text-center">If the category you deals in is not available, create a new category.</h5>
                                <h6 class="text-uppercase text-center"><button class="btn orangeBttn" (click)="otherCategory()">Create New Category</button></h6>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</section>