<form [formGroup]="multiItemForm">
    <mat-checkbox (change)="item.checked = !item.checked" [checked]="item.checked">
        <div class="item-details d-flex">
            <div class="item-image">
                <img [src]="item.imageUrl ? item.imageUrl : 'assets/img/svg-img/OPC-53.webp'" alt="">
            </div>
            <div class="item-desc">
                <h4>{{ item.name }}</h4>
                <div class="item-quantity d-flex">
                    <span>Balance Quantity: {{ item.deliverySummary.maxRaiseAllowQty }} {{ item.unit }}</span>
                    <span>Requested Quantity: {{ item.requestQty }} {{ item.unit }}</span>
                    <span class="green">Enqueued Quantity: {{ item.deliverySummary.totalEnqueueQty }} {{ item.unit }}</span>
                </div>
                
                <mat-form-field class="item-enter-qty"> 
                    <input matInput type="number" formControlName="deliveryQty"
                    placeholder="Enter delivery quantity" required/>
                    <mat-error *ngIf="multiItemForm.controls['deliveryQty'].errors && 
                    (multiItemForm.controls['deliveryQty'].dirty || multiItemForm.controls['deliveryQty'].touched)">
                        <mat-error *ngIf="multiItemForm.controls['deliveryQty'].hasError('required')">
                            Delivery Quantity is required
                        </mat-error>

                        <mat-error *ngIf="multiItemForm.controls['deliveryQty'].hasError('pattern')">
                            Invalid Delivery Quantity
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-checkbox>
</form>