.max-w-60px {
    max-width: 60px;
}
.max-w-270px {
    max-width: 270px;
}

.font-14 {
    font-size: 14px;
}
.font-18 {
    font-size: 18px;
}

.cyan-bg {
    background: $cyan;
}

.blue-cl {
    color: $blue;
}
.gry-cl {
    color: $gray-500;
}
.gry-bg {
    background-color: $gray-200;
}
.max-w-550 {
    max-width: 550px;
}
.max-w-50p {
    max-width: 50%;
}
.acc-pd {
    .mat-expansion-panel-header[aria-disabled="true"] {
        color: $gray-600;
    }
    .mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-title {
        color: #000;
    }
    .mat-expansion-panel-header.extra-height {
        .mat-content {
            flex-direction: column;
        }
    }
    .mat-expansion-panel-header,
    .mat-expansion-panel-body {
        padding: 0 18px;
    }
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
        font-size: 14px;
    }
    .mat-expansion-panel-header-description,
    .mat-expansion-panel-header[aria-disabled="true"] .mat-expansion-panel-header-description {
        margin-right: 0;
        flex-grow: 0;
        color: $blue;
    }
}

.custom-popup,
.address-pop {
    .modal-body {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .mat-radio-button {
        width: 100%;
    }
    .mat-radio-label-content {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.addrs-list-item {
    label {
        margin-bottom: 0;
    }
}
.new-grd {
    .mat-form-field-infix {
        padding-top: 0;
    }
}

.font-12 {
    font-size: 12px;
}
.max-w-300 {
    max-width: 300px;
}

.word-break-all {
    word-break: break-all;
}

.pdf-ico {
    display: flex;
    align-items: center;
    &:before {
        content: "";
        display: block;
        width: 20px;
        height: 26px;
        margin-right: 5px;
        background: no-repeat url(assets/img/file.png);
    }
}

.back-btn {
    background: $white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    border: 1px solid $gray-300;
    font-size: 12px;
}

.itm-status {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    padding: 5px;
    text-transform: uppercase;
    .mat-icon {
        font-size: 14px;
        width: auto;
        height: auto;
        margin-left: 5px;
    }
    &__red {
        color: $red;
        border-color: $red;
    }

    &__green {
        color: $green;
        border-color: $green;
    }
}

.min-w-115 {
    min-width: 115px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $green;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $green;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $green;
}

.cursor-pointer {
    cursor: pointer;
}
.hide-extra {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    height: 24px;
    white-space: nowrap;
    padding: 0 10px;
}
