<div class="po">
    <div class="container">
        <div class="po__headBar d-flex align-items-center justify-content-between pt-4 pb-2">

            <h3>Purchase Order</h3>
            <!-- <div class="leads-srch-box flex-sb-m">
                <div class=" leads-srch">
                    <div class="form-group has-search mb-0"><span class="form-control-feedback"><img alt=""
                                src="assets/img/search-icon.png"></span>
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                    <a href="javascript:void(0)" role="button" style="color:rgba(125,125,125,0.95);"><img alt="" src="assets/img/svg-img/ic_filter.svg">
                        Filters </a>
                </div>
            </div> -->
        </div>


        <div class="po__orders-list">
            <div class="po__order mb-3" *ngFor="let order of ordersList">
                <mat-card class="po__card">

                    <div class="po__title-section">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="po__title-left">
                                <h4 class="mb-0">Purchase Order Id : {{ order.purchaseOrder.orderNo }}</h4>
                                <p class="datetime mb-0">{{ order.purchaseOrder.createDt }}</p>
                            </div>
                            
                            <div class="po__title-right d-flex align-items-center">
                                <h6 class="font600">Order Total : {{ order.purchaseOrder.totalAmount }}</h6>
                                <button mat-button [routerLink]="['/orders/list/'+order.purchaseOrder.id]">Order Details</button>
                            </div>
                            <!-- <p class="po__dateTime">
                                <span class="date time">{{ order.purchaseOrder.createDt }}</span>
                                <span class="date mr-2">21-11-2019</span> 
                                <span class="time">11:40:50</span>
                            </p> -->
                        </div>
                    </div>

                    <div class="divider"></div>

                    <mat-card-header class="po__header-section" *ngFor="let item of order.orderItemList">
                        <div class="po__header-left">
                            <div mat-card-avatar class="po__header-image">
                                <img [src]="item.imgUrl ? item.imgUrl : 'assets/img/bricks.png'" alt="" class="img-fluid">
                            </div>

                            <div class="mat-card-header-text mat-card__title">
                                <mat-card-title>{{ item.name }}</mat-card-title>
                                <mat-card-subtitle>Quantity: {{ item.requestQty }} {{ item.unit }}</mat-card-subtitle>
                                <mat-card-subtitle class="pt-2">₹{{ item.sellerPrice }}</mat-card-subtitle>
                            </div>
                        </div>

                        <!-- <div class="po__header-right">
                            <span>Partially Delivered</span>
                        </div> -->
                    </mat-card-header>

                    <!-- <div class="divider"></div>

                    <mat-card-content>
                        <div class="d-flex">
                        </div>
                    </mat-card-content> -->
                    
                    <!-- <mat-card-actions class="d-flex align-items-center justify-content-between"> -->
                        <!-- <span>Order Total : {{ order.purchaseOrder.totalAmount }}</span> -->
                        <!-- <button mat-button>Order Details</button> -->
                    <!-- </mat-card-actions> -->
                </mat-card>
            </div>
        </div>
    </div>
</div>