<div class="po">
    <div class="container">
        <div class="po__headBar">
            <div class="row">
                <div class="col-md-3">
                    <h4>Purchase Order</h4>
                </div>
                <div class="col-md-3 offset-md-6">
                    <div class="leads-srch-box flex-sb-m">
                        <div class=" leads-srch">
                            <div class="form-group has-search mb-0"><span class="form-control-feedback"><img alt=""
                                        src="assets/img/search-icon.png"></span>
                                <input class="form-control" placeholder="Search" type="text">
                            </div>
                            <!-- <a href="javascript:void(0)" role="button" style="color:rgba(125,125,125,0.95);"><img alt="" src="assets/img/svg-img/ic_filter.svg">
                                Filters </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="po__orders-list">
            <div class="po__order">
                <mat-card class="po__card">

                    <div class="po__title-section">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4>Order ID : 191121C00743</h4>
                            <p class="text-muted">
                                <span class="date">21-11-2019</span> 
                                <span class="time">11:40:50</span>
                            </p>
                        </div>
                    </div>

                    <mat-card-header class="po__header-section">
                        <!-- <mat-card-title>Order ID: 191121C00747</mat-card-title>
                        <mat-card-subtitle>21-11-2019 11:40:50</mat-card-subtitle> -->
                        
                        <div mat-card-avatar class="example-header-image">
                            <img src="assets/img/bricks.png" alt="">
                        </div>
                        <mat-card-title>Ambuja Powercem Cement OPC 43 50 Kg 50 kg Bag</mat-card-title>
                        <mat-card-subtitle>Price: ₹369789</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="d-flex">
                            div.
                        </div>
                    </mat-card-content>
                    
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>