<section class="home-leads-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 pr-1 mt-3">
                <div class="required-box active">
                    <div class="bot-box">
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                    </div>
                    <img src="assets/img/svg-img/ic_wishlist.svg" class="wishlist-icon" alt="">
                    <h4 class="cement-title">UltraTech OPC 43 Cement 50 Kg Bag</h4>
                    <div class="required-info-box flex-sb-m">
                        <div class="required-info">
                            <p>800 - 1000 bags</p>
                            <span>Quantity</span>
                        </div>
                        <div class="required-info">
                            <p>Bangalore</p>
                            <span>City</span>
                        </div>
                    </div>
                    <div class="flex-sb-m">
                        <div class="title mt-2">Required by 23 March 2019</div>
                        <div class="request-bttn"><a href="#" class="orangeBttn">submit quote</a></div>
                    </div>
                </div>

                <div class="required-box">
                    <div class="bot-box">
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                    </div>
                    <img src="assets/img/svg-img/ic_wishlist.svg" class="wishlist-icon" alt="">
                    <h4 class="cement-title">UltraTech OPC 43 Cement 50 Kg Bag</h4>
                    <div class="required-info-box flex-sb-m">
                        <div class="required-info">
                            <p>800 - 1000 bags</p>
                            <span>Quantity</span>
                        </div>
                        <div class="required-info">
                            <p>Bangalore</p>
                            <span>City</span>
                        </div>
                    </div>
                    <div class="flex-sb-m">
                        <div class="title mt-2">Required by 23 March 2019</div>
                        <div class="request-bttn"><a href="#" class="orangeBttn">submit quote</a></div>
                    </div>
                </div>

                <div class="required-box">
                    <div class="bot-box">
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                    </div>
                    <img src="assets/img/svg-img/ic_wishlist.svg" class="wishlist-icon" alt="">
                    <h4 class="cement-title">UltraTech OPC 43 Cement 50 Kg Bag</h4>
                    <div class="required-info-box flex-sb-m">
                        <div class="required-info">
                            <p>800 - 1000 bags</p>
                            <span>Quantity</span>
                        </div>
                        <div class="required-info">
                            <p>Bangalore</p>
                            <span>City</span>
                        </div>
                    </div>
                    <div class="flex-sb-m">
                        <div class="title mt-2">Required by 23 March 2019</div>
                        <div class="request-bttn"><a href="#" class="orangeBttn">submit quote</a></div>
                    </div>
                </div>

                <div class="required-box">
                    <div class="bot-box">
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                    </div>
                    <img src="assets/img/svg-img/ic_wishlist.svg" class="wishlist-icon" alt="">
                    <h4 class="cement-title">UltraTech OPC 43 Cement 50 Kg Bag</h4>
                    <div class="required-info-box flex-sb-m">
                        <div class="required-info">
                            <p>800 - 1000 bags</p>
                            <span>Quantity</span>
                        </div>
                        <div class="required-info">
                            <p>Bangalore</p>
                            <span>City</span>
                        </div>
                    </div>
                    <div class="flex-sb-m">
                        <div class="title mt-2">Required by 23 March 2019</div>
                        <div class="request-bttn"><a href="#" class="orangeBttn">submit quote</a></div>
                    </div>
                </div>

                <div class="required-box">
                    <div class="bot-box">
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                        <span class="nav-dot"></span>
                    </div>
                    <img src="assets/img/svg-img/ic_wishlist.svg" class="wishlist-icon" alt="">
                    <h4 class="cement-title">UltraTech OPC 43 Cement 50 Kg Bag</h4>
                    <div class="required-info-box flex-sb-m">
                        <div class="required-info">
                            <p>800 - 1000 bags</p>
                            <span>Quantity</span>
                        </div>
                        <div class="required-info">
                            <p>Bangalore</p>
                            <span>City</span>
                        </div>
                    </div>
                    <div class="flex-sb-m">
                        <div class="title mt-2">Required by 23 March 2019</div>
                        <div class="request-bttn"><a href="#" class="orangeBttn">submit quote</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 mt-3">
                <div class="lead-details-box">
                    <p class="top-tital">Lead Details</p>
                    <h4 class="cement-title">UltraTech OPC 43 Cement 50 Kg Bag</h4>
                    <div class="required-info-box flex-sb-m">
                        <div class="required-info">
                            <p>800 - 1000 bags</p>
                            <span>Quantity</span>
                        </div>
                        <div class="required-info">
                            <p>Bangalore</p>
                            <span>City</span>
                        </div>
                        
                    </div>
                    <div class="title mb-2">Required by 23 March 2019</div>
                    <p class="top-tital mt-2">Quote Details (excluding GST)</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="Quantity-Range">
                                <div class="form-group">
                                    <label>Quantity Range</label>
                                    <input type="text" class="form-control" value="800">
                                    <input type="text" class="form-control" value="1000">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group lableup mb-0 mt-4">
                                    <input type="text" id="mobile" class="form-control inputLableUp">
                                    <label class="form-control-placeholder" for="buisness">Price Per Bag (₹)</label>
                                </div>
                            </div>
                       

                        <div class="col-lg-12">
                            <div class="form-check pl-0 my-3">
                                <input type="checkbox" class="checkbox-style" id="check1">
                                <label for="check1">I Would like to submit quote for some other ranges also.</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                                <div class="form-group lableup">
                                    <input type="text" id="mobile" class="form-control inputLableUp">
                                    <label class="form-control-placeholder" for="buisness">Quote Valid Till</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                            <div class="house-address">
                              <h4 class="cement-title">Warehouse Addressg <a href="#" class="change-address">Change</a></h4>

                              <div class="addres-details">
                                  <p class="ads-t">Scott Reed</p>
                                  <p>5554 Amelie Centers, <span> Bangalore, 120342</span></p>
                                  <p>9990329873</p>
                                  <p>GSTIN <span>29 ABCDE1234F 2Z5</span></p>
                              </div>

                              <div class="payment-terms">
                                    <p>Payment Terms </p>
                                    <ul>
                                        <li>Advance 10% payment need to be paid at the time of ordering.</li>
                                        <li>On dispatch 50% of total payment need to be paid.</li>
                                        <li>Some lorem Ipsum Text here and there</li>
                                    </ul>
                                </div>
                                <div class="save-orange">
                                    <button type="submit" class="btn orangeBttn disable">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>