<div class="po orders-list">
    <div class="container">
        <div class="po__headBar d-flex align-items-center justify-content-between pt-4 pb-2">

            <h3>
                <i aria-hidden="true" class="fa fa-angle-left" tabindex="0" [routerLink]="['/orders/details']"></i>
                Purchase Order Details</h3>
                <!-- <div class="leads-srch-box flex-sb-m">
                    <div class=" leads-srch">
                        <div class="form-group has-search mb-0"><span class="form-control-feedback"><img alt=""
                                    src="assets/img/search-icon.png"></span>
                            <input class="form-control" placeholder="Search" type="text">
                        </div>
                        <a href="javascript:void(0)" role="button" style="color:rgba(125,125,125,0.95);"><img alt="" src="assets/img/svg-img/ic_filter.svg">
                            Filters </a>
                    </div>
                </div> -->
        </div>


        <div class="po__orders-list">
            <div class="po__order mb-3">
                <mat-card class="po__card">

                    <div class="po__title-section">
                        <div class="d-flex justify-content-between align-items-center" 
                            *ngIf="orders && orders.purchaseOrder">
                            <div class="po__title-left">
                                <h4 class="mb-1">Purchase Order Id : {{ orders.purchaseOrder.orderNo }}</h4>
                                <p class="datetime mb-0">{{ orders.purchaseOrder.createDt }}</p>
                            </div>
                            
                            <!-- Disabled because functionality not started for it
                            <div class="po__title-right d-flex align-items-center">
                                <button mat-button class="brdbttn mr-2">Reject</button>
                                <button mat-button class="btnAccept">Accept</button>
                            </div> -->
                        </div>
                    </div>

                    <div class="divider"></div>

                    <ng-container *ngIf="orders && orders.orderItemList">
                        <mat-card-header class="po__header-section" *ngFor="let item of orders.orderItemList">
                            <div class="po__header-left">
                                <div mat-card-avatar class="po__header-image">
                                    <img [src]="item.imageUrl ? item.imageUrl : 'assets/img/bricks.png'" alt="" class="img-fluid">
                                </div>
    
                                <div class="mat-card-header-text mat-card__title">
                                    <mat-card-title>{{ item.name }}</mat-card-title>
                                    <mat-card-subtitle>Quantity: {{ item.requestQty }} {{ item.unit }}</mat-card-subtitle>
                                    <mat-card-subtitle class="pt-2">₹{{ item.sellerPrice }}</mat-card-subtitle>
                                </div>
                            </div>
                        </mat-card-header>
                    </ng-container>

                    <div class="line-br"></div>

                    <mat-card-content *ngIf="orders && orders.purchaseOrder">

                        <mat-expansion-panel class="payment-terms" *ngIf="orders.purchaseOrder.paymentTerm">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Payment Terms
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p [innerHTML]="orders.purchaseOrder.paymentTerm"></p>
                        </mat-expansion-panel>


                        <ng-container >
                            <div class="addresses po-address">
                                <h5 class="addresses__title">All Addresses</h5>
                                <div class="addresses__inner">
                                    <div class="addresses__column" *ngFor="let addr of orders.purchaseOrder.addresses">
                                        
                                        <h4>{{ addr.displayName }}</h4>

                                        <ng-container *ngIf="!addr.rawText; else showStringAddr">
                                            <div class="address">
                                                <p><span class="font600">{{ addr.address.name }}</span></p>
                                                <p>{{ addr.address.addressLine1 }}, {{ addr.address.addressLine2 }}, {{ addr.address.state }}, {{ addr.address.pincode }}</p>
                                                <p>{{ addr.address.phoneNo }}</p>
                                                <p *ngIf="addr.displayName != 'Delivery Address'">GSTIN: {{ addr.address.gstin }}</p>
                                            </div>
                                        </ng-container>

                                        <ng-template #showStringAddr>
                                            <!-- <div class="address" [innerHTML]="orders.purchaseOrder[addressTypes[addr.displayName]]">
                                            </div> -->
                                            <div class="address" *ngIf="addr.addressString" [innerHTML]="addr.addressString">
                                            </div>
                                        </ng-template>  
                                    </div>
                                </div>
                            </div>
                        </ng-container>


                        <!-- <ng-container *ngIf="orders.purchaseOrder.poAddress; else stringAddress">

                            <div class="addresses po-address"
                                *ngIf="orders.purchaseOrder.poAddress.sellerAddress || orders.purchaseOrder.poAddress.deliveryAddress || orders.purchaseOrder.poAddress.billingAddress">
                                <h5 class="addresses__title">All Addresses</h5>
                                <div class="addresses__inner">
                                    <div class="addresses__column" *ngIf="orders.purchaseOrder.poAddress.sellerAddress">
                                        <h4>Supplier Billing Address</h4>
                                        <div class="address">
                                            <p><span class="font600">{{ orders.purchaseOrder.poAddress.sellerAddress.name }}</span></p>
                                            <p>{{ orders.purchaseOrder.poAddress.sellerAddress.addressLine1 }}, {{ orders.purchaseOrder.poAddress.sellerAddress.addressLine2 }}, {{ orders.purchaseOrder.poAddress.sellerAddress.state }}, {{ orders.purchaseOrder.poAddress.sellerAddress.pincode }}</p>
                                            <p>{{ orders.purchaseOrder.poAddress.sellerAddress.phoneNo }}</p>
                                            <p>GSTIN: {{ orders.purchaseOrder.poAddress.sellerAddress.gstin }}</p>
                                        </div>
                                    </div>
    
                                    <div class="addresses__column" *ngIf="orders.purchaseOrder.poAddress.deliveryAddress">
                                        <h4>Delivery Address</h4>
                                        <div class="address">
                                            <p><span class="font600">{{ orders.purchaseOrder.poAddress.deliveryAddress.name }}</span></p>
                                            <p>{{ orders.purchaseOrder.poAddress.deliveryAddress.addressLine1 }}, {{ orders.purchaseOrder.poAddress.deliveryAddress.addressLine2 }}, {{ orders.purchaseOrder.poAddress.deliveryAddress.state }}, {{ orders.purchaseOrder.poAddress.deliveryAddress.pincode }}</p>
                                            <p>{{ orders.purchaseOrder.poAddress.deliveryAddress.phoneNo }}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="addresses__column" *ngIf="orders.purchaseOrder.poAddress.billingAddress">
                                        <h4>Buyer Billing Address</h4>
                                        <div class="address">
                                            <p><span class="font600">{{ orders.purchaseOrder.poAddress.billingAddress.name }}</span></p>
                                            <p>{{ orders.purchaseOrder.poAddress.billingAddress.addressLine1 }}, {{ orders.purchaseOrder.poAddress.billingAddress.addressLine2 }}, {{ orders.purchaseOrder.poAddress.billingAddress.state }}, {{ orders.purchaseOrder.poAddress.billingAddress.pincode }}</p>
                                            <p>{{ orders.purchaseOrder.poAddress.billingAddress.phoneNo }}</p>
                                            <p>GSTIN: {{ orders.purchaseOrder.poAddress.billingAddress.gstin }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container> -->


                        <!-- <ng-template #stringAddress>
                            <div class="addresses" *ngIf="orders.purchaseOrder.sellerAddress || orders.purchaseOrder.deliveryAddress || orders.purchaseOrder.buyerAddress">
                                <h5 class="addresses__title">All Addresses</h5>
                                <div class="addresses__inner">
                                    <div class="addresses__column" *ngIf="orders.purchaseOrder.sellerAddress">
                                        <h4>Supplier Billing Address</h4>
                                        <div class="address" [innerHTML]="orders.purchaseOrder.sellerAddress">
                                        </div>
                                    </div>
    
                                    <div class="addresses__column" *ngIf="orders.purchaseOrder.deliveryAddress">
                                        <h4>Delivery Address</h4>
                                        <div class="address" [innerHTML]="orders.purchaseOrder.deliveryAddress">
                                        </div>
                                    </div>
                                    
                                    <div class="addresses__column" *ngIf="orders.purchaseOrder.buyerAddress">
                                        <h4>Buyer Billing Address</h4>
                                        <div class="address" [innerHTML]="orders.purchaseOrder.buyerAddress">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template> -->

                        <div class="additional-info">
                            <h5 class="additional-info__title">Additional Information</h5>
                            <div class="additional-info__details">
                                <p>Date of delivery: {{ orders.purchaseOrder.deliveryDt }}</p>
                                <p>Number of credits days available: {{ orders.purchaseOrder.creditDay }} days</p>
                                <p>Transport Terms: <span [innerHTML]="orders.purchaseOrder.transporterTermCondition"></span></p>
                                <p>Remarks: <span [innerHTML]="orders.purchaseOrder.remark"></span></p>
                            </div>
                        </div>


                        <div class="payment-details">
                            <h5 class="payment-details__title">Payment Details (₹)</h5>
                            <div class="payment-details__data">
                                <p *ngIf="orders.purchaseOrder.totalItemAmount">
                                    <span>Material Amount</span>
                                    <span>{{ orders.purchaseOrder.totalItemAmount }}</span>
                                </p>
                                <p>
                                    <span *ngIf="orders.purchaseOrder.shippingCost">Shipping Charges</span>
                                    <span>{{ orders.purchaseOrder.shippingCost }}</span>
                                </p>
                                <p *ngIf="orders.purchaseOrder.igstAmount">
                                    <span>IGST</span>
                                    <span>{{ orders.purchaseOrder.igstAmount }}</span>
                                </p>
                                <p *ngIf="orders.purchaseOrder.cgstAmount">
                                    <span>CGST</span>
                                    <span>{{ orders.purchaseOrder.cgstAmount }}</span>
                                </p>
                                <p *ngIf="orders.purchaseOrder.sgstAmount">
                                    <span>SGST</span>
                                    <span>{{ orders.purchaseOrder.sgstAmount }}</span>
                                </p>
                                <p class="total-amount" *ngIf="orders.purchaseOrder.totalAmount">
                                    <span>Total Amount</span>
                                    <span>{{ orders.purchaseOrder.totalAmount }}</span>
                                </p>
                                <!-- <p>
                                    <span>Material Amount</span>
                                    <span>123456</span>
                                </p>
                                <p>
                                    <span>Shipping Charges</span>
                                    <span>123456</span>
                                </p>
                                <p>
                                    <span>IGST</span>
                                    <span>123456</span>
                                </p>
                                <p>
                                    <span>CGST</span>
                                    <span>123456</span>
                                </p>
                                <p>
                                    <span>SGST</span>
                                    <span>123456</span>
                                </p>
                                <p class="total-amount">
                                    <span>Total Amount</span>
                                    <span>₹123456</span>
                                </p> -->
                            </div>
                        </div>

                        <mat-expansion-panel class="terms-conditions" *ngIf="orders.purchaseOrder.termCondition">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                Terms & Conditions
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p [innerHTML]="orders.purchaseOrder.termCondition"></p>
                        </mat-expansion-panel>

                    </mat-card-content>

                    <mat-card-actions class="text-right">
                        <button mat-button class="orangebttn" (click)="downloadPO(po.signedUrl)">Download PO</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>