<mat-dialog-content>
  <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Switch Profile</h5>
        <button type="button" class="close" (click)="closeDialog()">
          <span>&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
      <img src="assets/img/Continue-with-same-account.png" alt="">
      <h6>Continue With Same Account?</h6>
      <p>You already have an account as a buyer with BuildSupply using this number. Do you want to use the same account to register as a seller as well with BuildSupply?</p>

      <button (click)="closeDialog()" class="btn orangeBttn brdbttn mr-2 modal-body--border-btn">No, use a different account</button>
      <button (click)="confirmAction()" class="btn orangeBttn modal-body--fill-btn">Yes, use the same account</button>
    </div>
    
  </div>
</mat-dialog-content>