<form *ngIf="businessDetailsForm && businessDetails" [formGroup]="businessDetailsForm">
    <!-- (ngSubmit)="submit($event)" -->

    <a href="javascript:void(0)" class="edit" (click)="edit()" *ngIf="!_isEdit"
        [class.d-none]="userVerified == 'Verified'">
        <img src="assets/img/edit-icon.png" alt="">Edit
    </a>

    <h4 class="mb-4">Buisness Details</h4>
    <!-- <div class="business-field-area" [class.non-edit]="!_isEdit"> -->
    <div class="business-field-area">
        <div class="row">

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Business Type</mat-label>
                    <mat-select formControlName="sellerBusinessType">
                        <mat-option *ngFor="let business of businessType" [value]="business.code">
                            {{business.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="business-name">
                    <input matInput placeholder="Registered Company Name" type="text" class="businessInput"
                        formControlName="companyName">
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <!-- <mat-label>Deals In</mat-label> -->
                <app-multi-select *ngIf="allCategoriesList && allCategoriesList.length" [class.err]="categoryErr"
                    [isErr]="categoryErr" placeholder="Deals In" [listData]="allCategoriesList" class="bs-multiselect"
                    [checkDisabled]="!_isEdit" (onDataChange)="updateCategory($event)" [othersInput]="othersInput">
                </app-multi-select>
            </div>

            <div class="col-md-12" *ngIf="othersInput">
                <mat-form-field class="business-name">
                    <input matInput placeholder="Enter Name" type="text" class="businessInput"
                        formControlName="othersCategoryName">
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Annual Turnover (₹)</mat-label>
                    <mat-select formControlName="minAnnualTurnover" name="turnover">
                        <mat-option *ngFor="let turnover of turnovers" [value]="turnover.code">
                            {{turnover.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="mb-4">Address Details</h4>
                </div>
            </div>

            <div class="col-md-12">
                <mat-form-field class="business-name">
                    <input matInput placeholder="Address Line 1" type="text" class="businessInput"
                        formControlName="addressLine1" required>
                </mat-form-field>

                <small
                    *ngIf="businessDetailsForm.controls['addressLine1'].errors && (businessDetailsForm.controls['addressLine1'].dirty || businessDetailsForm.controls['addressLine1'].touched)">
                    <p *ngIf="businessDetailsForm.controls['addressLine1'].hasError('required')" class="errorMessage">
                        Address Line 1 is required</p>
                </small>
            </div>

            <div class="col-md-12">
                <mat-form-field class="business-name">
                    <input matInput placeholder="Address Line 2" type="text" class="businessInput"
                        formControlName="addressLine2">
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="business-name">
                    <input matInput placeholder="10 digit mobile number" class="businessInput" formControlName="phoneNo"
                        type="number" maxlength="10" required>
                </mat-form-field>

                <small
                    *ngIf="businessDetailsForm.controls['phoneNo'].errors && (businessDetailsForm.controls['phoneNo'].dirty || businessDetailsForm.controls['phoneNo'].touched)">
                    <p *ngIf="businessDetailsForm.controls['phoneNo'].hasError('required')"
                        class="errorMessage marginTop">
                        Mobile number is required</p>
                    <p *ngIf="businessDetailsForm.controls['phoneNo'].hasError('pattern')"
                        class="errorMessage marginTop">
                        Mobile number is invalid</p>
                </small>
            </div>

            <div class="col-md-6">
                <mat-form-field class="business-name">
                    <input matInput placeholder="Pincode" type="number" class="businessInput"
                        (keyup)="validatePincode($event)" formControlName="pincode" maxlength="6" required>
                </mat-form-field>

                <small
                    *ngIf="businessDetailsForm.controls['pincode'].errors && (businessDetailsForm.controls['pincode'].dirty || businessDetailsForm.controls['pincode'].touched)">
                    <p *ngIf="businessDetailsForm.controls['pincode'].hasError('required')" class="errorMessage">
                        PinCode is required</p>
                    <p *ngIf="businessDetailsForm.controls['pincode'].hasError('pattern')" class="errorMessage">
                        PinCode is invalid</p>
                </small>
            </div>

            <div class="col-md-6">
                <mat-form-field class="business-name">
                    <input matInput formControlName="stateId" hidden placeholder="State">
                    <input matInput [value]="businessDetails.address.state.name" placeholder="State" [disabled]="true"
                        class="businessInput">
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="business-name">
                    <input matInput formControlName="cityId" hidden placeholder="City">
                    <input matInput [value]="businessDetails.address.city.name" placeholder="City" [disabled]="true"
                        class="businessInput">
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-label class="label-class">Address Proof</mat-label>

                <ng-container *ngIf="_isEdit || (!_isEdit && !businessDetails.address.addressProofFile)">
                    <app-upload label="addressProofAttachId" [fieldName]="'Address Proof'"
                        (onFileUpdate)="addressUploadDocs($event)" #uploadAddressProof></app-upload>
                    <mat-error *ngIf="addressProofDocs && addressProofDocs.length == 0">
                        Please Upload Address Proof
                    </mat-error>
                </ng-container>

                <div class="attachment-img mb-4" *ngIf="businessDetails.address.addressProofFile">
                    <div class="attachment-left">
                        <img alt="pdf file" class="fileExtImg" src="assets/img/icon-image.png">
                        <span class="attachment-name">{{ businessDetails.address.addressProofFile }}</span>
                    </div>
                    <span class="attachment-name blue-link-color"
                        (click)="downloadpanProof(businessDetails.address.addressProofFile)">View</span>
                </div>
            </div>

            <div class="col-md-6"></div>

            <div class="row ml-1" [class.non-edit]="!_isEdit">

                <div class="col-md-12">
                    <div class="form-group">
                        <h4 class="mb-4">Operational Details</h4>
                    </div>
                </div>

                <div class="col-md-6">
                    <mat-form-field class="business-name">
                        <input matInput placeholder="PAN" type="text" class="businessInput" formControlName="panNo">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-label class="label-class">PAN Proof</mat-label>

                    <ng-container *ngIf="_isEdit || (!_isEdit && !businessDetails.panPhoto)">
                        <app-upload label="panPhotoAttachId" [fieldName]="'PAN Proof'"
                            (onFileUpdate)="panUploadDocs($event)" #uploadPanProof></app-upload>
                        <mat-error *ngIf="panDocs && panDocs.length == 0">
                            Please Upload PAN Proof
                        </mat-error>
                    </ng-container>

                    <div class="attachment-img" *ngIf="businessDetails.panPhoto">
                        <div class="attachment-left">
                            <img alt="pdf file" class="fileExtImg" src="assets/img/icon-image.png">
                            <span class="attachment-name">{{ businessDetails.panPhoto }}</span>
                        </div>
                        <span class="attachment-name blue-link-color"
                            (click)="downloadpanProof(businessDetails.panPhoto)">View</span>
                    </div>
                </div>

                <div class="col-md-6 mt-3">
                    <mat-form-field class="full-width">
                        <input matInput formControlName="gstin" (input)="validateGstin($event)"
                            (paste)="onPaste($event)" type="text" placeholder="GSTIN" required>
                    </mat-form-field>

                    <small
                        *ngIf="businessDetailsForm.controls['gstin'].errors && (businessDetailsForm.controls['gstin'].dirty || businessDetailsForm.controls['gstin'].touched)">
                        <p *ngIf="businessDetailsForm.controls['gstin'].hasError('required')"
                            class="errorMessage marginTop">
                            GSTIN number is required</p>
                        <p *ngIf="businessDetailsForm.controls['gstin'].hasError('pattern')"
                            class="errorMessage marginTop">
                            GSTIN number is invalid</p>
                    </small>
                </div>

                <div class="col-md-6">
                    <mat-label class="label-class">GST Certificate</mat-label>

                    <ng-container *ngIf="_isEdit || (!_isEdit && !businessDetails.gstCertificate)">
                        <app-upload label="gstCertificateAttachId" [fieldName]="'GST Certificate'"
                            (onFileUpdate)="gstUploadDocs($event)" #uploadGstCertificate></app-upload>
                        <mat-error *ngIf="gstDocs && gstDocs.length == 0">
                            Please Upload GST Certificates
                        </mat-error>
                    </ng-container>

                    <div class="attachment-img" *ngIf="businessDetails.gstCertificate">
                        <div class="attachment-left">
                            <img alt="pdf file" class="fileExtImg" src="assets/img/icon-image.png">
                            <span class="attachment-name">{{ businessDetails.gstCertificate }}</span>
                        </div>
                        <!-- <span class="attachment-name blue-link-color" (click)="removeFile(value)">Remove</span> -->
                        <span class="attachment-name blue-link-color"
                            (click)="downloadpanProof(businessDetails.gstCertificate)">View</span>
                    </div>
                </div>

            </div>

            <!------------- Audit Balance Sheet ----------------->
            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="mt-3 mb-2">Audit Balance Sheet</h4>
                </div>
            </div>

            <div class="col-md-12" formArrayName="balanceSheets">
                <ng-container
                    *ngFor="let sheet of businessDetailsForm['controls']['balanceSheets']['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <ng-container *ngIf="_isEdit || (!_isEdit
                            && businessDetails.balanceSheets.length === 0)">
                            <app-upload label="{{i}}" [fieldName]="'Balance Sheet Year (' +sheet.value.year + ')'"
                                #uploadBalanceSheets></app-upload>
                        </ng-container>
                    </div>
                </ng-container>

                <ng-container *ngIf="businessDetails.balanceSheets">
                    <div class="attachment-img mb-2" *ngFor="let sheet of businessDetails.balanceSheets">
                        <div class="attachment-left">
                            <img alt="pdf file" class="fileExtImg" src="assets/img/icon-image.png">
                            <span class="attachment-name">{{ sheet.attachUrl }}</span>
                            <!-- <span class="attachment-year">{{ sheet.year }}</span> -->
                        </div>
                        <span class="attachment-name blue-link-color"
                            (click)="downloadpanProof(sheet.attachUrl)">View</span>
                    </div>
                </ng-container>
            </div>

            <!------------- 6 Month Bank Statement ----------------->
            <div class="col-md-12 border-top">
                <div class="form-group">
                    <h4 class="mt-4 mb-2">6 Month Bank Statement</h4>
                </div>
            </div>

            <div class="col-md-12" [class.non-edit]="!_isEdit">
                <mat-label class="label-class">6 Month Bank Statement</mat-label>

                <ng-container *ngIf="_isEdit || (!_isEdit && !businessDetails.bankStatement)">
                    <app-upload label="bankStatementAttachId" [fieldName]="'6 Month Bank Statement'"
                        (onFileUpdate)="bankUploadDocs($event)" #uploadbankAttachId></app-upload>
                    <mat-error *ngIf="bankDocs && bankDocs.length == 0">
                        Please Upload 6 Month Bank Statement
                    </mat-error>
                </ng-container>

                <div class="attachment-img mb-2" *ngIf="businessDetails.bankStatement">
                    <div class="attachment-left">
                        <img alt="pdf file" class="fileExtImg" src="assets/img/icon-image.png">
                        <span class="attachment-name">{{ businessDetails.bankStatement }}</span>
                    </div>
                    <span class="attachment-name blue-link-color"
                        (click)="downloadpanProof(businessDetails.bankStatement)">View</span>
                </div>
            </div>

            <!------------- Freight Terms ----------------->
            <div class="col-md-6 mt-4">
                <h4 class="font16">Freight Terms</h4>
                <mat-form-field>
                    <mat-select formControlName="freightTermCd" name="freightTerms">
                        <mat-option *ngFor="let freight of freightTerms" [value]="freight.code">
                            {{freight.displayName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="my-3">Preferred Transporter</h4>
                </div>
            </div>

            <div class="col-md-6">
                <mat-form-field class="business-name">
                    <input matInput placeholder="Name" type="text" class="businessInput"
                        formControlName="preferredTransporterName" required>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field class="business-name">
                    <input matInput placeholder="Phone No." type="text" class="businessInput"
                        formControlName="preferredTransporterPhone" required>
                </mat-form-field>
            </div>

            <!-- <div class="col-md-6">
                <div class="form-group lableup form-control">
                    <div class="browser-method" *ngIf="businessDetails.panPhoto == ''">
                        <img src="assets/img/upload.png" class="download-img" alt="">
                        <label class="myLabel" [class.remove_pointer]="!_isEdit">
                            <input type="file" name="panphoto" 
                                accept="image/x-png,image/gif,image/jpeg,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.txt"
                                (change)="onPhotoSelected($event)" style="display: none;" class="inputLableUp">
                            <span>Upload PAN Document</span>
                        </label>
                        <span style="font-size: 12px;color:#716767;">{{ panPhotoImage }}</span>
                    </div>

                    <div *ngIf="businessDetails.panPhoto" class="pdf" [class.remove_pointer]="!_isEdit">
                        <a *ngIf="_isEdit" class="ml-0" (click)="delete()">x</a>
                        <a href="javascript:void(0)" (click)="downloadpanProof(businessDetails.panPhoto)">Download</a>
                        <img src="assets/img/svg-img/ic_download.svg" alt="">
                        <span>Pan Proof</span>
                    </div>

                    <label class="form-control-placeholder">PAN Proof</label>
                </div>
            </div> -->





            <!-- <div class="col-md-12">
                <div class="form-group lableup form-control">
                    <div class="browser-method" *ngIf="businessDetails.address.addressProofFile == ''">
                        <img src="assets/img/upload.png" class="download-img" alt="">
                        <label class="myLabel" [class.remove_pointer]="!_isEdit">
                            <input type="file" name="addressProofFile" #file
                                accept="image/x-png,image/gif,image/jpeg,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.txt"
                                (change)="onFileSelected($event)" style="display: none;" required=""
                                class="inputLableUp" [disabled]="!_isEdit">
                            <span>UPLOAD ADDRESS PROOF</span>
                        </label>
                        <a href="javascript:void(0)" *ngIf="!addressProofFiles">
                            <img src="assets/img/svg-img/ic_information.svg" alt="">
                        </a>
                        <span style="font-size: 12px;color:#716767;">{{ addressProofFiles }}</span>
                    </div>

                    <div *ngIf="businessDetails.address.addressProofFile" class="pdf" [class.remove_pointer]="!_isEdit">
                        <a *ngIf="_isEdit" class="ml-0" (click)="deleteAddressProof(businessDetails.address.addressId)">x</a>
                        <a href="javascript:void(0)" (click)="downloadpanProof(businessDetails.address.addressProofFile)">Download</a>
                        <img src="assets/img/svg-img/ic_download.svg" alt="">
                        <span>Address Proof</span>
                    </div>

                    <label class="form-control-placeholder" for="buisness">Address Proof</label>
                </div>
            </div> -->



            <!-- <div class="col-md-6">
                <div class="form-group lableup form-control">
                    <div class="browser-method">
                        <img src="assets/img/upload.png" class="download-img" alt="">
                        <label class="myLabel" [class.remove_pointer]="!_isEdit">
                            <input type="file" name="gstCertificate" 
                                accept="image/x-png,image/gif,image/jpeg,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.txt"
                                (change)="onPhotoSelected($event)" style="display: none;" class="inputLableUp">
                            <span>Upload GST Certificate</span>
                        </label>
                    </div>
                </div>
            </div> -->

            <!-- 

            <div class="col-md-6">
                <div class="form-group lableup form-control">
                    <div class="browser-method">
                        <img src="assets/img/upload.png" class="download-img" alt="">
                        <label class="myLabel" [class.remove_pointer]="!_isEdit">
                            <input type="file" name="balanceSheetYear1" 
                                accept="image/x-png,image/gif,image/jpeg,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.txt"
                                (change)="onPhotoSelected($event)" style="display: none;" class="inputLableUp">
                            <span>Upload Balance Sheet Year 1</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group lableup form-control">
                    <div class="browser-method">
                        <img src="assets/img/upload.png" class="download-img" alt="">
                        <label class="myLabel" [class.remove_pointer]="!_isEdit">
                            <input type="file" name="balanceSheetYear2" 
                                accept="image/x-png,image/gif,image/jpeg,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.txt"
                                (change)="onPhotoSelected($event)" style="display: none;" class="inputLableUp">
                            <span>Upload Balance Sheet Year 2</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group lableup form-control">
                    <div class="browser-method">
                        <img src="assets/img/upload.png" class="download-img" alt="">
                        <label class="myLabel" [class.remove_pointer]="!_isEdit">
                            <input type="file" name="balanceSheetYear3" 
                                accept="image/x-png,image/gif,image/jpeg,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.txt"
                                (change)="onPhotoSelected($event)" style="display: none;" class="inputLableUp">
                            <span>Upload Balance Sheet Year 3</span>
                        </label>
                    </div>
                </div>
            </div>

            

            <div class="col-md-12">
                <div class="form-group lableup form-control">
                    <div class="browser-method">
                        <img src="assets/img/upload.png" class="download-img" alt="">
                        <label class="myLabel" [class.remove_pointer]="!_isEdit">
                            <input type="file" name="bankStatement" 
                                accept="image/x-png,image/gif,image/jpeg,text/plain,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.pdf,.txt"
                                (change)="onPhotoSelected($event)" style="display: none;" class="inputLableUp">
                            <span>Upload 6 Month Bank Statement</span>
                        </label>
                    </div>
                </div>
            </div> -->

            <div class="col-md-12 save-orange" *ngIf="_isEdit">
                <button type="button" class="btn orangeBttn brdbttn" (click)="goToBusinessDetailsPage()">Cancel</button>
                <button (click)="submit($event)" class="btn orangeBttn">SAVE</button>
            </div>

        </div>
    </div>

</form>