<form [formGroup]="forgotForm" (ngSubmit)="submit()">
    <!-- <a href="#" class="edit"><img src="images/edit-icon.png" alt="">Edit</a> -->
    <h4>Change Password</h4>
    <div class="otp-decr">Password must include at least 8 characters including at least 1 number or 1 special
        character.</div>
    <div class="form-field-area">
        <div class="form-group lableup">
            <input type="password" id="mobile" class="form-control inputLableUp" name="password"
                formControlName="password" placeholder="Enter Your Password" required>
            <label class="form-control-placeholder" for="buisness">New Password</label>
        </div>
        <div
            *ngIf="forgotForm.controls['password'].errors && (forgotForm.controls['password'].dirty || forgotForm.controls['password'].touched)">
            <p *ngIf="forgotForm.controls['password'].hasError('required')" class="error-validation mb-4">
                Password is required</p>
            <p *ngIf="forgotForm.controls['password'].hasError('minlength')" class="error-validation mb-4">
                Password should have minimum 6 characters.</p>
        </div>


        <div class="form-group lableup">
            <input type="password" id="mobile" class="form-control inputLableUp"
                (ngModelChange)="checkPasswords(forgotForm)" name="confirmPassword" formControlName="confirmPassword"
                placeholder="Confirm Your Password">
            <label class="form-control-placeholder" for="buisness">Retype New Password</label>
        </div>
        <div *ngIf="forgotForm.controls['confirmPassword'].dirty && forgotForm.controls['confirmPassword'].touched">
            <p *ngIf="!isPasswordMatch" class="error-validation mb-4">Passwords do not match.</p>
        </div>

    </div>
    <div class="col-md-12 save-orange">
        <button type="submit" [disabled]="!isPasswordMatch" class="btn orangeBttn">Continue</button>
    </div>
</form>