<section class="midpanel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="leads-top-section">
                    <h4>Leads</h4>

                    <div class="leads-srch-box flex-sb-m">

                        <div class="leads-tap">
                            <a
                                href="javascript:void(0)"
                                routerLinkActive="active-tab"
                                [routerLink]="['/lead/new-lead']">
                                New Leads
                            </a>
                            <a
                                href="javascript:void(0)"
                                routerLinkActive="active-tab"
                                [routerLink]="['/lead/acted-lead']">
                                Acted Leads
                            </a>
                        </div>

                        <div class="leads-srch">
                            <div class="form-group has-search mb-0">
                                <span class="form-control-feedback">
                                    <img
                                        src="assets/img/search-icon.png"
                                        alt>
                                </span>
                                <input
                                    type="text"
                                    class="form-control"
                                    (keyup)="applySearchFilter($event.target.value)"
                                    placeholder="Search">
                            </div>

                            <a
                                href="javascript:void(0)"
                                (click)="filters()"
                                role="button"
                                style="color:rgba(125,125,125,0.95);">
                                <img
                                    [src]="count ? 'assets/img/filler-icon.png' : 'assets/img/svg-img/ic_filter.svg'"
                                    alt>
                                <span
                                    class="filter-no"
                                    *ngIf="count">
                                    {{count}}
                                </span>
                                Filters
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- If No Leads available in New Leads Section -->
        <ng-container *ngIf="(!hasLeads && (isNewLeadActive))">
            <div class="no-new-leads">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="profile-verification__img">
                            <img
                                src="assets/img/no-leads.png"
                                alt
                                class="img-fluid">
                        </div>
                        <h3 class="mt-4">Currently NO New Leads Available!</h3>
                        <p>
                            Our team is working on the RFQ requirements best suited for your business. You will be notified as soon
              as
              RFQ relevant to your profile is available. Inbetween, updating your catalogue will help in reeciving more
              leads.
                        </p>

                        <div class="mt-3 pb-5">
                            <a
                                class="btn orangeBttn"
                                href="javascript:void(0)"
                                [routerLink]="'/catalogue/add-catalogue'">
                                Update
                Catalogue
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- If Leads are available in New Leads Section -->
        <div class="row">

            <div class="col-lg-12">
                <app-lead-sidebar #leadSideBar></app-lead-sidebar>
                <!-- <app-new-lead-list ></app-new-lead-list> -->
            </div>

            <div class="col-lg-7">
                <div
                    class="lead-right-panel"
                    *ngIf="isNewLeadActive">
                    <app-new-leads [currentActiveTab]="'NewLeads'"></app-new-leads>
                </div>

                <div
                    class="lead-right-panel"
                    *ngIf="!isNewLeadActive">
                    <app-new-leads [currentActiveTab]="'ActedLeads'"></app-new-leads>
                </div>
            </div>

        </div>

    </div>
</section>
