<div class="po po__delivery-details">
    <div class="container">
        <div class="po__headBar d-flex align-items-center justify-content-between pt-4 pb-2">

            <h3>
                <i aria-hidden="true" class="fa fa-angle-left"
                    [routerLink]="['/orders/details/awarded/'+orderId]"></i>
                Delivery Details
            </h3>

        </div>


        <div class="po__orders-list" *ngIf="deliveryDetails && deliveryDetails.length">
            <div class="po__order mb-3">
                <mat-card class="po__card">

                    <div class="po__title-section">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="po__title-left">
                                <h4 class="mb-1">Order Id : {{ deliveryDetails[0].orderNo }}</h4>
                            </div>

                            <!-- Accept/Reject PO Functionality -->
                            <div class="po__title-right d-flex align-items-center">
                                <p class="datetime mb-0">{{ deliveryDetails[0].createDt }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <ng-container *ngIf="deliveryDetails[0].items && deliveryDetails[0].items.length">
                        <ng-container *ngFor="let item of deliveryDetails[0].items">
                            <app-item-list [itemList]="item" [selectedTab]="'awarded'" 
                                [deliveryDetails]="true">
                            </app-item-list>
                        </ng-container>
                    </ng-container>

                    <div class="line-br"></div>

                    <mat-card-content class="w-75">
                        <div class="attachment-details">

                            <!-- Invoice Details -->
                            <div class="attachment-row d-flex justify-content-between align-items-center">
                                <div class="attachment-col">
                                    <h3>Invoice:</h3>
                                </div>

                                <div class="attachment-col text-center">
                                    <p class="mb-0">{{ deliveryDetails[0].invoice }}</p>
                                </div>

                                <div class="attachment-col text-center"></div>

                                <div class="attachment-outer-col">
                                    <ng-container *ngIf="deliveryDetails[0].invoiceAttachId">
                                        <div class="attachment-inner-col flex50 text-center">
                                            <div class="attachment-img">
                                                <!-- [src]="fileExtension === 'pdf' ? 'assets/img/file.png' : 'assets/img/icon-image.png'" -->
                                                <img [src]="invoiceFileExt === 'pdf' ? 'assets/img/file.png' : 'assets/img/icon-image.png'" alt="" class="img-fluid w-32" />
                                            </div>
                                            <p class="attachment-filename mb-0">{{deliveryDetails[0].invoiceDocName}}</p>
                                        </div>
        
                                        <div class="attachment-inner-col text-center">
                                            <span class="link-view" (click)="downloadAttachment(deliveryDetails[0].invoiceSignedUrl)">View</span>
                                        </div>
                                    </ng-container>
                                </div>
                                
                            </div>

                            <!-- Eway Bill Details -->
                            <div class="attachment-row d-flex justify-content-between align-items-center">
                                <div class="attachment-col">
                                    <h3>Eway Bill:</h3>
                                </div>

                                <div class="attachment-col text-center">
                                    <p class="mb-0">{{ deliveryDetails[0].ewayBillNo }}</p>
                                </div>

                                <div class="attachment-col text-center">
                                    <span class="date-time">{{ deliveryDetails[0].ewayBillDate }}</span>
                                </div>

                                <div class="attachment-outer-col">
                                    <ng-container *ngIf="deliveryDetails[0].ewayBillAttachId">
                                        <div class="attachment-inner-col text-center">
                                            <div class="attachment-img">
                                                <img [src]="eWayFileExt === 'pdf' ? 'assets/img/file.png' : 'assets/img/icon-image.png'" alt="" class="img-fluid w-25" />
                                            </div>
                                            <p class="attachment-filename mb-0">{{deliveryDetails[0].eWayDocName}}</p>
                                        </div>
        
                                        <div class="attachment-inner-col text-center">
                                            <span class="link-view" (click)="downloadAttachment(deliveryDetails[0].eWaySignedUrl)">View</span>
                                        </div>
                                    </ng-container>
                                </div>

                            </div>

                            <!-- Delivery Challan Details -->
                            <div class="attachment-row d-flex justify-content-between align-items-center">
                                <div class="attachment-col">
                                    <h3>Delivery Challan:</h3>
                                </div>

                                <div class="attachment-col text-center">
                                    <p class="mb-0">{{ deliveryDetails[0].challanNo }}</p>
                                </div>

                                <div class="attachment-col text-center">
                                    <span class="date-time">{{ deliveryDetails[0].challanDate }}</span>
                                </div>

                                <div class="attachment-outer-col">
                                    <ng-container *ngIf="deliveryDetails[0].challanAttachId">
                                        <div class="attachment-inner-col text-center">
                                            <div class="attachment-img">
                                                <img [src]="challanFileExt === 'pdf' ? 'assets/img/file.png' : 'assets/img/icon-image.png'" alt="" class="img-fluid w-25" />
                                            </div>
                                            <p class="attachment-filename mb-0">{{deliveryDetails[0].challanDocName}}</p>
                                        </div>
        
                                        <div class="attachment-inner-col text-center">
                                            <span class="link-view" (click)="downloadAttachment(deliveryDetails[0].challanSignedUrl)">View</span>
                                        </div>
                                    </ng-container>
                                </div>
                                
                            </div>

                            <!-- Material Test Certificate Details -->
                            <div class="attachment-row d-flex justify-content-between align-items-center">
                                <div class="attachment-col">
                                    <h3>Material Test Certificate:</h3>
                                </div>

                                <div class="attachment-col text-center">
                                    <p class="mb-0">{{ deliveryDetails[0].materialTestNo }}</p>
                                </div>

                                <div class="attachment-col text-center">
                                    <span class="date-time">{{ deliveryDetails[0].materialTestDt }}</span>
                                </div>

                                <div class="attachment-outer-col">
                                    <ng-container *ngIf="deliveryDetails[0].materialTestAttachId">
                                        <div class="attachment-inner-col text-center">
                                            <div class="attachment-img">
                                                <img [src]="MtcFileExt === 'pdf' ? 'assets/img/file.png' : 'assets/img/icon-image.png'" alt="" class="img-fluid w-25" />
                                            </div>
                                            <p class="attachment-filename mb-0">{{deliveryDetails[0].materialTestDocName}}</p>
                                        </div>
        
                                        <div class="attachment-inner-col text-center">
                                            <span class="link-view" (click)="downloadAttachment(deliveryDetails[0].materialTestSignedUrl)">View</span>
                                        </div>
                                    </ng-container>
                                </div>
                                
                            </div>

                            <!-- Attachments Details -->
                            <div class="attachment-row d-flex justify-content-between align-items-center">
                                <div class="attachment-col">
                                    <h3>Attachments:</h3>
                                </div>

                                <div class="attachment-col text-center"></div>

                                <div class="attachment-col text-center"></div>

                                <!-- <div class="attachment-outer-col">
                                    <ng-container *ngIf="deliveryDetails[0].lorryReceiptAttachId">
                                        <div class="attachment-inner-col text-center">
                                            <div class="attachment-img">
                                                <img src="assets/img/file.png" alt="" class="img-fluid" />
                                            </div>
                                            <p class="attachment-filename mb-0">{{deliveryDetails[0].lorryReceiptDocName}}</p>
                                        </div>
        
                                        <div class="attachment-inner-col text-center">
                                            <span class="link-view" (click)="downloadAttachment(deliveryDetails[0].lorryReceiptSignedUrl)">View</span>
                                        </div>
                                    </ng-container>
                                </div> -->
                                
                            </div>
                        </div>

                        <div class="vehicle-details pb-4">
                            <div class="vehicle-heading">Vehicle Details</div>

                            <div class="vehicle-others">

                                <div class="vehicle-row d-flex align-items-center">
                                    <div class="vehicle-col">
                                        <h3>Transporter Name:</h3>
                                    </div>
    
                                    <div class="vehicle-col">
                                        <p class="mb-0">{{ deliveryDetails[0].transporterName }}</p>
                                    </div>
                                </div>

                                <div class="vehicle-row d-flex align-items-center">
                                    <div class="vehicle-col">
                                        <h3>Mode of Transport:</h3>
                                    </div>
    
                                    <div class="vehicle-col">
                                        <p class="mb-0">{{ deliveryDetails[0].transportModeName }}</p>
                                    </div>
                                </div>

                                <div class="vehicle-row d-flex align-items-center">
                                    <div class="vehicle-col">
                                        <h3>Vehicle Number:</h3>
                                    </div>
    
                                    <div class="vehicle-col">
                                        <p class="mb-0">{{ deliveryDetails[0].vehicleNo }}</p>
                                    </div>
                                </div>

                                <div class="vehicle-row d-flex align-items-center">
                                    <div class="vehicle-col">
                                        <h3>Driver Name:</h3>
                                    </div>
    
                                    <div class="vehicle-col">
                                        <p class="mb-0">{{ deliveryDetails[0].driverName }}</p>
                                    </div>
                                </div>

                                <div class="vehicle-row d-flex align-items-center">
                                    <div class="vehicle-col">
                                        <h3>Driver Contact No.:</h3>
                                    </div>
    
                                    <div class="vehicle-col">
                                        <p class="mb-0">{{ deliveryDetails[0].driverPhone }}</p>
                                    </div>
                                </div>

                                <div class="vehicle-row d-flex justify-content-between align-items-center">
                                    <div class="vehicle-col">
                                        <h3>LR No:</h3>
                                    </div>
    
                                    <div class="vehicle-col">
                                        <p class="mb-0">{{ deliveryDetails[0].lorryReceiptNo }}</p>
                                    </div>
    
                                    <div class="vehicle-col">
                                        <span class="date-time"></span>
                                    </div>
    
                                    <ng-container *ngIf="deliveryDetails[0].lorryReceiptAttachId">
                                        <div class="vehicle-col text-center">
                                            <div class="attachment-img">
                                                <img [src]="LrFileExt === 'pdf' ? 'assets/img/file.png' : 'assets/img/icon-image.png'" alt="" class="img-fluid w-25" />
                                            </div>
                                            <p class="attachment-filename mb-0">{{ deliveryDetails[0].lorryReceiptDocName }}</p>
                                        </div>
        
                                        <div class="vehicle-col text-center">
                                            <span class="link-view" (click)="downloadAttachment(deliveryDetails[0].lorryReceiptSignedUrl)">View</span>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>

                </mat-card>
            </div>
        </div>

    </div>
</div>