<mat-dialog-content>
    <div class="modal-content">
        <div class="container">

            <div class="modal-header">
                <div class="modal-header__inner">
                    <h5 class="modal-title">All Filters</h5>
                    <div class="save-orange m-0">
                        <button type="submit" class="btn orangeBttn" (click)="applyFilters(filteredLists)">apply</button>
                    </div>
                </div>
                <button type="button" class="close" (click)="closeDialog()">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div  *ngIf="filtersElm" class="output-box">
                            <div  class="selected-option" *ngFor="let item of categoryNames">
                                {{item.categoryName}} 
                                <span class="cross-option">
                                    <img src="assets/img/Cancel.svg" (click)="cancelFilters(item)">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="filter-box">
                            <ul>
                                <li class="accordion mb-0">Material Type</li>
                                <mat-form-field class="search-filters">
                                    <input matInput placeholder="Search" (input)="searchFilter($event.target.value)">
                                    <span matPrefix><mat-icon>search</mat-icon></span>
                                </mat-form-field>

                                <div class="panel">
                                    <mat-selection-list #filtersElm class="pt-0"
                                        (selectionChange)="filteredProductsLists($event.option)">
                                        <mat-list-option [value]="filters" [selected]="isSelected(filters.id)" *ngFor="let filters of filtersList">
                                            {{filters.categoryName}}
                                        </mat-list-option>
                                    </mat-selection-list>
                                </div>
                            </ul>
                        </div>
                    </div>
        
                    <!-- <div class="col-md-7">
                        <div class="filter-box">
                            <ul>
                                <li class="accordion">tags</li>
                                <div class="panel">
                                    <p><mat-checkbox class="material-types">Price not Available</mat-checkbox></p>
        
                                    <p><mat-checkbox class="material-types">Out of stock</mat-checkbox></p>
                                </div>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>