<div class="profile-verification text-center pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-verification__img">
                <img
                    src="assets/img/Leads-Coming-Soon.png"
                    alt
                    class="img-fluid">
            </div>
            <h3 class="profile-verification__heading">Leads Coming Soon!</h3>
            <p class="profile-verification__description">
                Our team is working on the RFQ requirements best suited for
                your business. You will be notified as soon as RFQ relevant to your profile is available.
            </p>
            <div class="mt-3 pb-5">
                <a
                    class="btn orangeBttn profile-verification--btn"
                    href="javascript:void(0)"
                    [routerLink]="'/catalogue/catalogue-list'">
                    Go to Catalogue
                </a>
            </div>
        </div>
    </div>
</div>
