 <form>
     <!-- <a href="#" class="edit"><img src="assets/img/edit-icon.png" alt="">Edit</a> -->
     <h4>Billing Address</h4>
     <div class="business-field-area">
         <div class="row">

             <div class="col-md-6">
                 <div class="form-group">
                     <input type="text" id="mobile" class="form-control inputLableUp" value="">
                     <label class="form-control-placeholder" for="buisness">Name (as mentioned in GST)</label>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group">
                     <textarea type="text" class="form-control inputLableUp"></textarea>
                     <label class="form-control-placeholder" for="buisness">Address Line 1</label>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group">
                     <textarea type="text" class="form-control inputLableUp"></textarea>
                     <label class="form-control-placeholder" for="buisness">Address Line 2</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <input type="text" class="form-control inputLableUp" value="">
                     <label class="form-control-placeholder" for="buisness">Phone No.</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <input type="text" class="form-control inputLableUp" value="">
                     <label class="form-control-placeholder" for="buisness">Pin Code</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <select class="custom-select form-control inputLableUp">
                         <option value="1"></option>
                         <option value="2">Delhi</option>
                         <option value="3">Kanpur</option>
                     </select>
                     <label class="form-control-placeholder" for="buisness">State</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <select class="custom-select form-control inputLableUp">
                         <option value="1"></option>
                         <option value="2">Delhi</option>
                         <option value="3">Kanpur</option>
                     </select>
                     <label class="form-control-placeholder" for="buisness">City</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <input type="text" class="form-control inputLableUp" value="">
                     <label class="form-control-placeholder" for="buisness">GSTIN</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group lableup form-control">
                     <div class="browser-method">
                         <img src="assets/img/upload.png" class="download-img" alt="">
                         <label class="myLabel">
                             <input type="file" required="" class="inputLableUp">
                             <span>UPLOAD ADDRESS PROOF</span>
                         </label>
                         <a href="#"> <img src="assets/img/svg-img/ic_information.svg" alt=""></a>
                     </div>
                     <label class="form-control-placeholder" for="buisness">Address Proof</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-check pl-0 mt-4">
                     <input type="checkbox" class="checkbox-style" id="check1" checked="">
                     <label for="check1">Also add this as Warehouse address.</label>
                 </div>
             </div>
             <div class="col-md-12 save-orange">
                 <button type="submit" class="btn orangeBttn brdbttn">Cancel</button>
                 <button type="submit" class="btn orangeBttn">Save</button>
             </div>


         </div>
     </div>

 </form>
 <br>
 <hr>
 <br>
 <form>
     <a href="#" class="edit"><img src="assets/img/edit-icon.png" alt="">Edit</a>
     <h4>Billing Address</h4>
     <div class="business-field-area onlyview">
         <div class="row">

             <div class="col-md-6">
                 <div class="form-group lableup">
                     <input type="text" id="mobile" class="form-control inputLableUp"
                         value="Name (as mentioned in GST)">
                     <label class="form-control-placeholder" for="buisness">Name</label>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group lableup">
                     <textarea type="text" class="form-control inputLableUp">366 Kyle Orchard Suite 961</textarea>
                     <label class="form-control-placeholder" for="buisness">Address Line 1</label>
                 </div>
             </div>
             <div class="col-md-12">
                 <div class="form-group lableup">
                     <textarea type="text" class="form-control inputLableUp">Orchard Suite</textarea>
                     <label class="form-control-placeholder" for="buisness">Address Line 2</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group lableup">
                     <input type="text" class="form-control inputLableUp" value="9293182902">
                     <label class="form-control-placeholder" for="buisness">Phone No.</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group lableup">
                     <input type="text" class="form-control inputLableUp" value="120342">
                     <label class="form-control-placeholder" for="buisness">Pin Code</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group lableup">
                     <select class="custom-select form-control inputLableUp">
                         <option value="1"></option>
                         <option selected>Karnataka</option>
                         <option value="2">Delhi</option>
                         <option value="3">Kanpur</option>
                     </select>
                     <label class="form-control-placeholder" for="buisness">State</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group lableup">
                     <select class="custom-select form-control inputLableUp">
                         <option value="1"></option>
                         <option selected>Bangalore</option>
                         <option value="2">Delhi</option>
                         <option value="3">Kanpur</option>
                     </select>
                     <label class="form-control-placeholder" for="buisness">City</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group lableup">
                     <input type="text" class="form-control inputLableUp" value="29 ABCDE1234F 2Z5">
                     <label class="form-control-placeholder" for="buisness">GSTIN</label>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group lableup form-control">
                     <div class="browser-method">
                         <img src="assets/img/upload.png" class="download-img" alt="">
                         <label class="myLabel">
                             <input type="file" required="" class="inputLableUp">
                             <span>UPLOAD ADDRESS PROOF</span>
                         </label>
                         <a href="#"> <img src="assets/img/svg-img/ic_information.svg" alt=""></a>
                     </div>
                     <label class="form-control-placeholder" for="buisness">Address Proof</label>
                 </div>
             </div>



         </div>
     </div>

 </form>