<mat-card class="po__card">

    <div class="po__title-section">
        <div
            *ngIf="rfqDetails"
            class="d-flex justify-content-between align-items-center">
            <div class="po__title-left">
                <div class="mb-0 d-flex align-items-center">
                    <h4 class="mr-3 mb-0">Lead Id : {{rfqDetails.rfq.id}}</h4>

                </div>
                <p
                    *ngIf="rfqDetails.rfq.createDt"
                    class="datetime mb-0 mt-1">
                    {{rfqDetails.rfq.createDt}}
                </p>

                <p *ngIf="rfqDetails.rfq?.sellerstoreYn === 'Y'" class="buyer-detail mb-0 mt-1">
                    <span *ngIf="rfqDetails.rfq?.buyerPhone" class="mr-3">Phone: {{rfqDetails.rfq.buyerPhone}}</span>
                    <span *ngIf="rfqDetails.rfq?.buyerEmail">Email: {{rfqDetails.rfq.buyerEmail}}</span>
                </p>
            </div>

            <div class="po__title-right d-flex align-items-center">
                <h6
                    *ngIf="leadType === 'acted' && rfqDetails.rfq.statusCd"
                    class="mb-0 d-flex align-content-stretch">
                    <span
                        class="d-flex itm-status itm-status__red"
                        [class.itm-status__green]="rfqDetails.rfq.statusCd === 'sellerrfq.seller.submit.full'"
                        [class.itm-status__red]="rfqDetails.rfq.expired">
                        {{rfqDetails.rfq.status }}
                        <mat-icon *ngIf="rfqDetails.rfq.statusCd === 'sellerrfq.seller.submit.full'">check_circle</mat-icon>
                    </span>
                </h6>

                <h6 class="mb-0">
                    {{rfqDetails.items.length + moreSku.length}}  ITEM{{rfqDetails.items.length > 1 ? 'S' : ''}}
                </h6>
                <h6 class="mb-0 d-flex align-items-center">
                    <mat-icon class="font-18 d-flex align-items-center gry-cl">location_on</mat-icon>
                    {{allLocations}}
                </h6>
                <a
                    [routerLink]="['/lead/details/'+rfqDetails.rfq.id]"
                    mat-button>
                    View Lead
                </a>
            </div>

        </div>
    </div>

    <div class="divider"></div>

    <div
        class="p-3"
        *ngIf="rfqDetails?.items">
        <app-sku
            class="d-block mb-4"
            *ngFor="let item of rfqDetails.items;"
            [size]="'SMALL'"
            [sku]="item" [otherSkuDetail]="{buyerPhone: rfqDetails.rfq.buyerPhone, buyerEmail: rfqDetails.rfq.buyerEmail}"></app-sku>

        <div [@slideInOut]="open">
            <app-sku
                class="d-block pb-4"
                *ngFor="let item of moreSku;"
                [size]="'SMALL'"
                [sku]="item"></app-sku>
        </div>

    </div>
    <div
        (click)="toggle()"
        *ngIf="moreSku.length"
        class="cursor-link  blue-cl cyan-bg p-2 text-center">
        {{ open === 'in' ?  'Close' : moreSku.length + ' MORE ITEM'}}{{(moreSku.length > 1 && open !== 'in' ? 'S' : '')}}
    </div>
</mat-card>
