body {
    font-family: 'Open Sans', sans-serif;
    //  background: $bg-color-gray;
    background: #ffffff;
    @include border-bottom-left-radius(5px);
}

a,
a:hover {
    text-decoration: $none;
    color: #1896BA;
}

.container-fluid {
    padding: $pd-lr-150;
}

.midpanel {
    padding-top: $pd-top-25;
}

.orangeBttn {
    font-size: 12px;
    font-weight: $font-weight-600;
    line-height: 37px;
    padding: 0 25px;
    display: inline-block;
    color: $text-color-white;
    height: 37px;
    border-radius: 17.5px;
    background-color: #F47721;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.orangeBttn:hover {
    color: #fff;
    background: #fa8534;
}


.expiredLeadBttn {
    width: 92px;
    height: 24px;
    color: #FF0000;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    font-family: "open sans", sans-serif;
    display: inline-block;
    border: 1px solid #FF0000;
    border-radius: 3px;
    background-color: #FFF1F1;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expiredLeadBttn:hover {
    color: #FF0000;
    background-color: #FFF1F1;
}

button:focus {
    outline: $none;
}

.btn:focus,
.btn.focus {
    box-shadow: $none;
}

.disable {
    opacity: 0.5;
    pointer-events: $none;
}

.dottbttn {
    border: dashed 1.2px #1896BA;
    background-color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.dottbttn a {
    display: block;
    font-size: $font-size-14;
    font-weight: $font-weight-600;
    color: #1896BA;
}

.bg-white {
    background: $bg-color-white;
}