body {
    font-family: 'Open Sans', sans-serif;
    //  background: $bg-color-gray;
    background: #ffffff;
    @include border-bottom-left-radius(5px);
}

a,
a:hover {
    text-decoration: $none;
    color: #1896BA;
}

.container-fluid {
    padding: $pd-lr-150;
}

.midpanel {
    padding-top: $pd-top-25;
}

.orangeBttn {
    font-size: 12px;
    font-weight: $font-weight-600;
    line-height: 37px;
    padding: 0 25px;
    display: inline-block;
    color: $text-color-white;
    height: 37px;
    border-radius: 17.5px;
    background-color: #F47721;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.orangeBttn:hover {
    color: #fff;
    background: #fa8534;
}


.expiredLeadBttn {
    width: 92px;
    height: 24px;
    color: #FF0000;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    font-family: "open sans", sans-serif;
    display: inline-block;
    border: 1px solid #FF0000;
    border-radius: 3px;
    background-color: #FFF1F1;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expiredLeadBttn:hover {
    color: #FF0000;
    background-color: #FFF1F1;
}

button:focus {
    outline: $none;
}

.btn:focus,
.btn.focus {
    box-shadow: $none;
}

.disable {
    opacity: 0.5;
    pointer-events: $none;
}

.dottbttn {
    border: dashed 1.2px #1896BA;
    background-color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.dottbttn a {
    display: block;
    font-size: $font-size-14;
    font-weight: $font-weight-600;
    color: #1896BA;
}

.bg-white {
    background: $bg-color-white;
}

.nav-link{
    padding: 0.5rem 0.6rem;
}

.font16 {
    font-size: 16px !important;
}

@media only screen and (min-width: 1200px){
    .container:not(.modal-body) {
        max-width: 90%!important;
    }
}

.container-fluid {
    padding: 0 100px;
}

.bg-blue{
    background-color:$bg-color-blue;
    color:white;
}

.left-content{
    max-width: 900px;
    .mat-figure{
        justify-content: start !important;
        padding-left: 20px !important;
    }
}

.m-vrt{
    font-size: 2.5em;
    font-weight: lighter;
    color:#bbb7b7de;
    cursor: pointer;
}

.m-vrt-menu{
    min-height: auto !important;
    button{
        text-align: center;
    }
}
.mat-menu-panel.mat-menu-below button.mat-menu-item.sc-btn{
    font-size: 18px;
    color: #1896BA
}

.txtarea-bdr{
    border:1px solid #b5b5b5 !important;
    border-radius: 3px !important;
}

.w-96{
    width:96% !important;
}

.lh-initial{
    line-height: initial !important;
}
.mt-mns{
    margin-top: -20px;
}

.bbtn:disabled{
    background-color: #efd8c9 !important;
    border: 0px !important;
}

.isDisabled{
    pointer-events: none !important;
    color:lightgray !important;
}

.full-width-shadow-background{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
}

.status-yellow{
    color:#e8b00c;
}
.status-green{
    color:#07d407;
}

.bbtn1{
    background-color: #efd8c9 !important;
    border: 0px !important;
    cursor: auto;
}