$font-size-10:10px;
$font-size-14:14px;
$font-size-12:12px;
$font-size-16:16px;
$font-size-21:21px;
$font-size-20:20px;
$font-size-24:24px;
$font-weight-600: 600;
$font-weight-700:700;
$font-weight-400:400;
$border: 1px solid #ECECEC;
$border-radius-4:4px;
$border-radius-5:5px;
$bg-color-blue:#0E3C55;
$bg-color-gray: #f8f8f8;
$bg-color-white: #fff;
$bg-color-orange: #F47721;
$pd-top-25:25px;
$pd-top-15:15px;
$pd-lr-150:0 150px;
$pd-lft-4:4px;
$pd-lft-10:10px;
$pd-ryt-10:10px;
$display-flex: flex;
$dispalyblock:block;
$dispalyinline-block:inline-block;
$text-color-orange:#E8B00C;
$text-color-black:#000;
$text-color-green:#03B10F;
$text-color-white:#fff;
$center:center;
$right:right;
$left:left;
$text-capitalize: capitalize;
$text-transform:uppercase;
$position-relative: relative;
$position-absolute:absolute;
$transition:all 0.5s ease-in-out;
$none:none;
$width-50:50%;
$width-100:100%;
$error:#FF0000;