<mat-dialog-content class="content__parent">








    <button
        *ngIf="showCloseButton"
        type="button"
        class="close"
        (click)="closeDialog()">
        <span aria-hidden="true">&times;</span>
    </button>





    <div
        class="modal-dialog"
        role="document">
        <div class="modal-content ">
            <div class="modal-body">
                <h5 class="top-title">{{ title }}</h5>
                <div class="remove-product-info">
                    <p>{{msg}}</p>
                </div>



                <ng-container *ngIf="docs">
                    <div
                        *ngFor="let doc of docs"
                        class="border p-2 pb-1">
                        <a [href]="doc.signedUrl">{{doc.orginalFileName}}</a>
                    </div>
                </ng-container>




                <div class="remove-btn pt-3">
                    <button
                        *ngIf="payload.cancel"
                        (click)="closeDialog()"
                        class="bs-btn bs-btn__hollow mr-2 ">
                        Cancel
                    </button>
                    <button
                        (click)="confirmAction()"
                        class="bs-btn bs-btn__solid mr-0">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>








    <!-- <div class="_block">
        <div class="relative _block menu-popup">
            <div class="popup__body _block">
                <div class="col-sm-12 menu__tooltip-container _block">
                    <div class="row menu__tooltip-inner-wrapper tm30">
                        <div class="_block">
                            <div class="menu__tooltip-title _block text-center">header</div>
                            <div class="bm15 _block sign-out-message">msg</div>
                            <div class="menu__tooltip-action _block  myprofile__restbtn">
                                <div class="text-center">
                                  <div class="col-xs-6">
                                    <a class="btn btn__default btn-xs" href="javascript:void(0)"
                                       (click)="closeDialog()">{{htmlText.CANCEL}}</a>
                                  </div>

                                  <div class="col-xs-6 btn-ok">
                                    <a class="btn btn__default btn-xs" href="javascript:void(0)"
                                       (click)="confirmAction()">{{htmlText.OK}}</a>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button *ngIf="showCloseButton" class="popup__close" (click)="closeDialog()"><span class="icon-cross"></span></button>
            </div>
        </div>
    </div> -->





</mat-dialog-content>
