<div class="col-12 px-0 fileToUpload">
    
    <mat-card *ngIf="fileToUpload && fileToUpload.length" class="p-0">
        <mat-list class="pt-0">
            
                <ng-container *ngFor="let file of fileToUpload; let i = index">
                    
                    <mat-list-item>
                        <div class="file-details">
                            <img [src]="fileExtension === 'pdf' ? 'assets/img/file.png' : 'assets/img/icon-image.png'" alt="pdf file" class="fileExtImg">
                            <span class="file-name">{{file.name}}</span>
                        </div>
                        
                        <div class="file-actions">
                            <span class="attachment-name blue-link-color" (click)="viewFile(file.name)">View</span>
                            <button type="button" (click)="removeFile(i)" mat-icon-button>
                                <mat-icon class="font-size-16">cancel</mat-icon>
                            </button>
                        </div>
                        
                    </mat-list-item>

                    <mat-divider *ngIf="(i+1) != fileToUpload.length"></mat-divider>
                </ng-container>
        </mat-list>
    </mat-card>

    <label [for]="id" class="bs-btn bs-btn__link cursor_pointer before-none">
        <i class="fa fa-upload fa-lg mr-1"></i>
        Upload Attachment
    </label>
    <input (change)="uploadFiles($event.target.files)" [hidden]="true" id="{{id}}" multiple type="file" />
</div>