.catalogue-filters-popup {
    max-width: 100vw !important;
    top: 0px;
    position: absolute !important;
    width: 100%;
    .mat-dialog-content,
    .modal-content,
    .modal-body{
        height: 100%;
    }
    .mat-dialog-content{
        max-height: 100%;
    }
    .mat-dialog-container{
        border-radius: 0px;
        padding: 0px;
        overflow-x: hidden;
    }
    .modal-content{
        border: none;
    }
    .modal-header{
        border-bottom: none;
        padding-bottom: 0px;
        &__inner{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;;
            .modal-title{
                color: #000;
                font-size: 20px;
                font-weight: 700;
                margin: 15px 0 20px;
                width: 50%;
                float: left;
            }
        }
        .close span{
            position: absolute;
            top: 0px;
            right: -100px;
            z-index: 999;
            font-size: 50px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.8);
        }
    }

    .filter-box {
        max-width: 100%;
        width: 100%;
        ul{
            padding: 0;
            list-style: none;
            margin-bottom: 0px;;
        }  
        .accordion{
            color: #000;
            font-size: 14px;
            font-weight: 600;
            padding: 15px 0px 0px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        .search-filters input{
            opacity: 1;
            position: relative;
            height: auto;
            width: auto;
            line-height: 24px;
        }
        .panel{
            .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
                line-height: 32px;
                font-size: 14px;
                height: auto;
                font-weight: 400;
                color: rgba(0,0,0,0.95);
            }

            .mat-list-base .mat-list-item .mat-list-item-content-reverse, .mat-list-base .mat-list-option .mat-list-item-content-reverse{
                padding: 0;
            }

            .mat-list-option:focus,
            .mat-list-option:hover{
                background: transparent;
            }

            .mat-ripple{
                display: none;
            }

            .mat-pseudo-checkbox {
                width: 36px;
                height: 18px;
                border: 1px solid #efefef;
                border-radius: 0px;
                background-color: #efefef;
                &:after {
                    top: 4px;
                    left: 12px;
                }
            }
            .mat-pseudo-checkbox.mat-pseudo-checkbox-checked{
                background-color: #03B10F;
                color: #fff;
            }
        }
    }
}

.output-box .selected-option {
    position: inherit;
    display: inline-block;
    margin-right: 8px;
}

.panel p {
    color: rgba(0, 0, 0, 0.95);
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 10px;
}

.material-types{
    .mat-checkbox-layout{
        display: flex;
    }
    .mat-checkbox-inner-container{
        order: 1;
        width: 24px;
        height: 17px;
    }
    .mat-checkbox-background, .mat-checkbox-frame{
        border-radius: 0px;
    }
    .mat-checkbox-checkmark{
        top: -4px;
    }
}