.po,
.mark-in-transit {
    .mat-card {
        padding: 0;
        border-radius: 0;
        box-shadow: 1px 3px 4px 0 rgba(151, 151, 151, 0.5);
        border: 1px solid #ececec;
    }

    &__title-section {
        padding: 13px 15px;
    }

    &__header-image {
        width: 100px !important;
        height: auto !important;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #ececec;
    }

    h3 {
        font-family: "Open Sans", sans-serif;
        color: #212121;
        font-size: 21px;
        font-weight: 600;
        line-height: 27px;
    }

    h4 {
        color: rgba(0, 0, 0, 0.9);
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
    }

    .datetime {
        color: #878787;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 17px;
        margin-bottom: 0;
    }

    .mat-card-header {
        padding: 13px 15px;
        justify-content: space-between;
    }

    .mat-card-title {
        color: #212121;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 15px;
    }

    .mat-card-subtitle {
        margin-bottom: 0;
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 19px;
    }

    &__header-right span {
        border: 1.1px solid #e8b00c;
        border-radius: 4.4px;
        font-size: 10px;
        font-weight: 600;
        line-height: 14px;
        color: #e8b00c;
        padding: 5px 8px;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
    }

    .mat-card-header-text,
    .mat-card-content {
        display: none;
    }

    .mat-card-header-text.mat-card__title {
        display: block;
    }

    &__header-left {
        display: flex;
    }

    .mat-button {
        height: 40px;
        border: 1px solid #f47721;
        border-radius: 24px;
        background-color: #f47721;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        padding: 9px 28px;
        line-height: 20px;
    }

    .mat-button.btnAccept {
        width: 130px;
    }

    .mat-button.brdbttn {
        width: 130px;
        border-width: 2px;
        background-color: transparent;
        color: #f47721;
        &:hover {
            background-color: #f47721;
            color: #fff;
        }
    }

    .mat-card > .mat-card-actions:last-child {
        padding: 13px 15px;
        margin: 0px !important;
    }

    .mat-card-actions {
        span {
            color: rgba(0, 0, 0, 0.9);
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
        }

        .mat-button-wrapper {
            color: #fff !important;
        }
    }

    &__title-right h6:after {
        content: "";
        border-right: 1px solid #cfcfcf;
        margin: 0 20px;
        min-height: 17px;
    }
    &__title-right:last-child {
        display: none;
    }

    .fa.fa-angle-left {
        border: 1px solid #eee;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 22px;
        margin-right: 15px;
        line-height: 22px;
        color: #000;
        transition: all 0.5s ease-in-out;
        padding: 2px 4px 0 0;
        cursor: pointer;
        &:hover {
            background: #f47721;
            color: #fff;
            border: 1px solid #f47721;
        }
    }

    .order-accept-reject {
        span {
            color: #f47721;
            border: 1px solid #f47721;
            padding: 6px 20px;
            border-radius: 8px;
            font-size: 0.9em;
            cursor: auto;
        }
    }

    .active-delivery-title {
        border-bottom: 1px solid #ececec;
    }

    &__active-delivery {
        .view-more-link {
            color: #1896ba;
            font-size: 14px;
            font-weight: 600;
        }

        ul {
            flex: 0 0 28%;
        }
    }

    &__requested-delivery {
        flex: 0 0 35%;
        h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            color: #212121;
        }
        .req-delivery-details {
            border: 1px solid #ececec !important;
            padding: 15px 15px;
            h5 {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 22px;
                font-family: "Open Sans", sans-serif;
            }
        }
    }

    &__panel-header {
        .mat-expansion-indicator {
            position: absolute;
            right: 20px;
            top: 103px;
        }
    }

    .po__panel-header.mat-expanded .po__view-po-details {
        position: absolute;
        right: 40px;
        top: 103px;
    }

    &__tab-list {
        padding: 0;
        display: flex;
        align-items: center;
        list-style: none;
        li {
            text-transform: uppercase;
            color: #95989a;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            margin-right: 30px;
            cursor: pointer;
            &:focus {
                outline: 0;
            }
        }

        li.active {
            color: #1896ba;
            border-bottom: 3px solid #1896ba;
        }
    }

    &__delivery-details {
        .mat-card-content {
            display: block;
        }

        .attachment-details,
        .vehicle-details {
            padding: 13px 15px;
            border-bottom: 1px solid #ececec;

            .attachment-row,
            .vehicle-row {
                height: 55px;
                margin-bottom: 20px;

                .attachment-col,
                .vehicle-col {
                    font-family: "Open Sans", sans-serif;
                    font-size: 14px;

                    &:not(:first-child) {
                        flex: 0 0 18%;
                    }

                    &:first-child {
                        flex: 0 0 25%;
                    }

                    h3 {
                        color: #4a4a4a;
                        font-weight: 600;
                        line-height: 19px;
                        font-size: 14px;
                    }

                    p,
                    .date-time {
                        opacity: 0.5;
                        color: #000000;
                        line-height: 16px;
                    }

                    .attachment-filename {
                        font-size: 8px;
                        font-weight: 600;
                        color: #565656;
                    }

                    .link-view {
                        color: #00a6b2;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 17px;
                        text-transform: uppercase;
                    }

                    .attachment-img {
                        text-align: center;
                    }
                }

                .attachment-outer-col {
                    flex: 0 0 36%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .attachment-inner-col {
                        font-family: "Open Sans", sans-serif;
                        font-size: 14px;
                        display: flex;
                        max-width: 140px;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;

                        h3 {
                            color: #4a4a4a;
                            font-weight: 600;
                            line-height: 19px;
                            font-size: 14px;
                        }

                        p,
                        .date-time {
                            opacity: 0.5;
                            color: #000000;
                            line-height: 16px;
                        }

                        .attachment-filename {
                            font-size: 8px;
                            font-weight: 600;
                            color: #565656;
                        }

                        .link-view {
                            color: #00a6b2;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 17px;
                            text-transform: uppercase;
                        }

                        .attachment-img {
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            width: 70px;
                            height: 50px;
                            align-self: center;
                            img {
                                max-width: 32px;
                                max-height: 32px;
                            }
                        }
                    }
                }
            }

            .vehicle-row {
                height: 35px;
            }

            .vehicle-heading {
                color: #505050;
                line-height: 19px;
                font-size: 16px;
                font-weight: 600;
                padding: 10px 0 20px;
                font-family: "Open Sans", sans-serif;
            }
        }
    }
}

.font600 {
    font-weight: 600;
}

.orders-list {
    .mat-card-content {
        display: block;
    }
}

.border-right {
    border-right: 1px solid #ececec;
}

.addresses,
.delivery-details {
    border-top: 1px solid #ececec;
}

.addresses,
.additional-info,
.pickup-history {
    padding: 13px 15px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__column {
        border: 1px solid rgba(151, 151, 151, 0.5);
        padding: 14px 12px;
        font-family: "Open Sans", sans-serif;
        -webkit-box-flex: 0;
        flex: 0 0 31.33%;
    }

    h4 {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
    }

    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }

    &__details {
        border: 1px solid #ececec;
        padding: 15px 15px;
        font-family: "Open Sans", sans-serif;
        p {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 10px;
        }
    }

    .address {
        list-style: none;
        li {
            font-size: 14px;
            line-height: 26px;
            word-break: break-all;
            &:first-child {
                font-weight: 600;
            }
            // &:nth-child(3), &:nth-child(4){
            //     display: inline-block;
            // }
            // &:nth-child(3)::after {
            //     content: ',';
            //     margin-right: 5px;
            // }
        }
        br:first-child {
            display: none;
        }
    }
}

.lh-22 {
    line-height: 22px;
}

.additional-info {
    span li {
        line-height: 28px;
    }

    span li:first-child {
        margin-top: 5px;
    }
}

.payment-details {
    padding: 13px 15px;
    &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
    }

    &__data {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        width: 35%;
        p,
        .total-amount {
            margin-bottom: 0;
            line-height: 32px;
            display: flex;
            font-size: 14px;
            justify-content: space-between;
            span:last-child {
                font-weight: 600;
            }
        }

        .total-amount {
            margin: 10px 0;
            padding: 5px 0;
        }
    }
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
}

.mat-expansion-panel-header-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

// span.mat-expansion-indicator{
//     position: absolute;
//     left: 18%;
// }

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
    background-color: transparent;
}

.terms-conditions,
.payment-terms {
    li {
        opacity: 0.6;
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        line-height: 20px;
        margin: 0 0 10px;
        font-weight: 500;
    }

    .mat-expansion-panel-header {
        padding: 0 15px;
    }

    .mat-content {
        flex: 0 0 20%;
    }
}

.line-br {
    border-top: 1px solid #ececec;
    margin: 10px 0;
}

.po-address {
    p {
        word-break: break-word;
        margin-bottom: 7px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.lh40 {
    line-height: 40px;
}

.download-link {
    font-size: 12px;
    font-weight: 600;
}

.pickup-history {
    &__column:not(:last-child) {
        margin-right: 30px;
    }
}

.btn-mark-in-transit {
    width: auto;
}

.mark-in-transit {
    &__title-section {
        padding: 13px 0px;
    }

    .mat-checkbox {
        display: block;
    }

    .item-image img {
        width: 100px;
        height: auto;
        margin: 0 20px 0 10px;
    }

    h4 {
        font-weight: 600;
        margin-bottom: 5px;
    }

    .item-input-qty .mat-form-field-infix {
        height: 40px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        height: 2px;
    }

    &__vehicle-details {
        background-color: #fff;
        padding: 20px 35px;
        border: 1px solid #ececec;
        border-radius: 4px;
    }

    .upload-invoice .myLabel span {
        text-transform: uppercase;
        color: #1896ba;
        font-size: 13px;
        font-weight: 600;
        margin-left: 10px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
    .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
        width: 2em;
        margin-bottom: 20px;
    }
}

.container .mark-in-transit__orders-list .mat-form-field input {
    opacity: 1;
    position: relative;
    height: auto;
    width: auto;
    line-height: 26px;
}

.w-33 {
    max-width: 33.333%;
    flex: 0 0 33.333%;
}

.need-help {
    padding: 20px 0;
    position: relative;
    a {
        color: #1896ba;
        font-size: 14px;
        font-weight: 600;
    }
    span {
        color: #212121;
        font-size: 16px;
        margin-left: 10px;
    }
    .fa-question-circle {
        font-size: 22px;
        vertical-align: bottom;
        margin-right: 5px;
    }
}

.invoice-method .myLabel {
    cursor: pointer;
    span {
        color: #1896ba;
        font-weight: 600;
    }
}

.toggle-angle::after {
    display: inline-block;
    margin-left: 15px;
    vertical-align: 1px;
    content: "";
    color: #b2b2b2;
    border-top: 6px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}

.awarded-po {
    span {
        &:not(:last-child):after {
            content: "|";
            margin: 0 15px;
            color: #000;
        }
        &.green-cl {
            color: #03b10f;
        }
        &.red-cl {
            color: #ff0000;
        }
    }
}
.shortClose {
    span {
        &:not(:last-child):after {
            content: "|";
            margin: 0 15px;
        }
    }
}

.seller-price-gst {
    .item-qty span:nth-child(2) {
        color: #9b9b9b;
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 600;
        line-height: 14px;
    }

    .sub-total {
        color: rgba(0, 0, 0, 0.9);
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }
}

.po-awarded {
    .po__header-left,
    .mat-card__title {
        width: 100%;
    }
}

.awarded {
    &__delivery-details {
        .mat-expansion-panel-header-description {
            position: relative;
        }

        .mat-expansion-panel-header-title {
            flex-grow: 7;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            font-family: "Open Sans", sans-serif;
        }

        .mat-expansion-panel-header {
            padding: 10px 15px 15px 15px;
        }

        .mat-content {
            align-items: center;
            flex: none;
        }
    }

    &__view-po-details {
        position: absolute;
        right: -5px;
        top: 27.15%;
        p {
            color: #1896ba;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            text-transform: capitalize;
            margin-bottom: 0;
        }
    }
}

.mat-expanded .awarded__view-po-details {
    top: 20%;
}

.delivery-btn {
    height: 40px;
    border: 2px solid #f47721;
    border-radius: 24px;
    background-color: #fff;
    color: #f47721;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 9px 28px;
    line-height: 18px;
    &:hover {
        background-color: #f47721;
        color: #fff;
    }
}

.active-delivery,
.past-delivery,
.dispatch-schedules {
    &__details {
        border: 1px solid #03b10f;
        padding: 15px 15px;
        flex: 0 0 42%;
        margin: 0 30px 30px 0;

        &:last-child,
        p:last-child {
            margin-bottom: 0;
        }

        .vehicle-number,
        .vehicle-items {
            span {
                color: #000000;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 19px;
            }
            span:last-child {
                opacity: 0.8;
            }
        }

        .vehicle-number {
            span:last-child {
                color: #1896ba;
            }
        }
    }

    &__title {
        h6 {
            color: #212121;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 19px;
        }
    }
}

.past-delivery,
.dispatch-schedules {
    &__details {
        border-color: #ececec;
    }
}

.dispatch-schedules {
    &__lists {
        width: 45%;
        margin-bottom: 20px;
    }
}

.past-deliveries {
    &__view-link {
        position: absolute;
        right: 0;
        bottom: -12px;
        p {
            color: #1896ba;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            text-transform: capitalize;
            margin-bottom: 0;
        }
    }

    .mat-expanded .past-deliveries__view-link {
        bottom: -7px;
    }

    .mat-expansion-panel-body {
        padding: 0 0px 16px;
    }

    .mat-expansion-panel-header {
        padding: 10px 0 15px;
    }
}

.delivery-details {
    padding: 13px 15px;
    &__heading h4 {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.items-list .item-desc .item-quantity span:not(:last-child):after {
    content: "";
    border-right: 1px solid #7b7b7b;
    margin: 0 15px;
}

.form-outer {
    .form-control {
        height: auto;
    }
}

.file-details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.form-placeholder {
    line-height: 30px;
}

.po-item-title {
    color: #212121;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 15px;
    display: block;
}

.font14 {
    font-size: 14px;
    line-height: 0px;
}

.cursor-link {
    cursor: pointer;
}

.w-25 {
    width: 25px;
    margin: auto;
    display: block;
}

.w-32 {
    width: 32px;
    margin: auto;
    display: block;
}

.flex50 {
    flex: 0 0 50%;
}

.sc-input-control {
    min-width: 250px;
    margin-top: -15px;
    display: inline-block;
}
.mlst-185-input {
    margin-left: 185px;
}
.mlst-130-input {
    margin-left: 130px;
}

.st-chkbox {
    .mat-checkbox-inner-container {
        height: 30px;
        width: 30px;
    }
}
