.profile-form-fields{
    .profile-input.mat-form-field-appearance-legacy {
        width: 100%;
        .profileInput{
            padding-left: 0;
            color: rgba(0, 0, 0, 0.7);
            border: none;
            border-radius: 0;
            /*height: 45px;*/
            font-size: 16px;
            font-weight: 500;
        }
        .profileInput.mat-input-element{
            &:disabled{
                color: rgba(0,0,0,.38);
            }
        }
        .mat-form-field-wrapper{
            margin-bottom: 20px;
        }
    }
    .email-input{
        .mat-form-field-wrapper{
            margin-bottom: 0px !important;
        }
    }
}

.mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.11);
}

.mat-form-field.mat-focused .mat-form-field-label{
    color: rgba(0, 0, 0, 0.6);
}

.browser-method .myLabel span {
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
}

.requestbox{
    .request-bttn{
        .orangeBttn{
            color: #fff;
            cursor: pointer;
        }
        &:hover{
            color: #fff;
        }
    }
}

.profile-verification-popup,
.switch-profile-popup{
    .mat-dialog-container{
        padding: 0 24px;
        .mat-dialog-content{
            padding: 0px;
            .modal-content{
                border-radius: 0px;
                .modal-header {
                    background-color: #F0F0F0;
                    border-radius: 0;
                    padding: 16px 20px;
                    border-bottom: none;
                    .modal-title {
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                    }
                    .close {
                        font-size: 2.0rem;
                        font-weight: 600;
                        line-height: 25px;
                        color: #afafaf;
                    }
                }
                .lableup{
                    width: 100%;
                }
            }
        }
    }
}

.switch-profile-popup{
    .mat-dialog-container{
        width: 500px;
    }

    .mat-dialog-content{
        max-height: 90vh;
    }

    .modal-body{
        img{
            width: 220px;
            margin: 20px auto 30px;
        }

        h6{
            font-weight: 600;
        }

        &--border-btn, &--fill-btn{
            font-size: 15px;
            border-color: #f4783d;
            height: 45px;
            border-radius: 80px;
            width: 70%;
            padding: 0 10px;
        }

        &--border-btn{
            background-color: #fff;
            color: #f4783d;
            margin: 20px auto 10px;
        }

        &--fill-btn{
            background-color: #f4783d;
            color: #fff;
            margin: 10px auto 20px;
        }

        p{
            font-size: 15px;
            width: 90%;
            margin: auto;
        }
    }
}

.email-verified {
    color: #1896BA;
    border: 1px solid #1896BA;
    font-size: 85%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 6px 10px;
    font-weight: 600;
}

.pro-emil{
    span{
        font-size: 12px;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 400;
        i { color: #888; }
    }
}