.delete-bank-details{
    &__para {
        text-align: left;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    p{
        .btn {
            color: #fa8534;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}