// Lists

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

.spec-list {
  padding: 0;
  margin: 0;
  display: flex;
  padding-bottom: 10px;
  li {
    margin-right: 5px;
    list-style: none;
    border-radius: 2px;
    display: block;
    padding: 5px 10px;
    background: $cyan;
    font-size: 12px;
  }
}
