<ng-container *ngIf="new_leads">
    <ng-container *ngFor="let newlead of new_leads;let i = index">
        <div [ngClass]="(activeLeads[i]?'required-box active-leads':'required-box')">
            <div class="bot-box" *ngIf="newlead.status == 'Saved' || newlead.status == null || newlead.status == ''">
                <div *ngIf="!bookmarkClicked[i]" class="quote-smt">
                    <img src="assets/img/svg-img/ic_wishlist.svg" class="bookmark" alt=""
                        (click)="bookmarkToggle(i,newlead.id)">

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="DismissBtnClicked(newlead.id)" mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Dismiss</span>
                        </button>
                    </mat-menu>

                </div>
                <div *ngIf="bookmarkClicked[i]" class="quote-smt">
                    <img src="assets/img/wishlist-icon-2.png" class="bookmark" alt=""
                        (click)="bookmarkToggle(i,newlead.id)">

                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="DismissBtnClicked(newlead.id)" mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Dismiss</span>
                        </button>
                    </mat-menu>
                </div>



            </div>
            <div class="bot-box"
                *ngIf="newlead.status == 'Submit' || newlead.statusCd == 'quote.request.sts.seller.submit'">
                <div class="quote-smt-price">
                    Quote Submitted
                    <img src="assets/img/green-check.png" alt="">
                </div>
            </div>
            <h4 class="cement-title">{{newlead.skuName}}</h4>
            <div class="required-info-box flex-sb-m">
                <div class="required-info">
                    <p>{{newlead.requestQty}} {{newlead.unit}}</p>
                    <span>Quantity</span>
                </div>
                <div class="required-info">
                    <p>{{newlead.deliveryLocation}}</p>
                    <span>City</span>
                </div>
            </div>

            <div class="required-info-box flex-sb-m">
                <div class="required-info">
                    <p>{{newlead.minPrice}}</p>
                    <span>Lowest Quote (₹)</span>
                </div>
                <div class="required-info">
                    <p>{{newlead.quotePrice}}</p>
                    <span>Submitted Quote (₹)
                    </span>
                </div>
            </div>
            <div class="flex-sb-m">
                <div class="title mt-2 ">Required by {{newlead.requiredEndDt | gmtToLocal }}</div>
                <div class="request-bttn" *ngIf="message === 'NewLeads'"><a href="javascript:void(0)"
                        class="orangeBttn brdbttn mr-0" (click)="viewQuote(i)"
                        [routerLink]="['/lead/leads-details/new-lead',newlead.id]">View
                        Quote</a></div>

                <div class="request-bttn" *ngIf="message === 'ActedLeads'"><a href="javascript:void(0)"
                        class="orangeBttn brdbttn mr-0" (click)="viewQuote(i)"
                        [routerLink]="['/lead/leads-details/acted-lead',newlead.id]">View
                        Quote</a></div>

            </div>
        </div>
    </ng-container>
</ng-container>


<!--
    brandIconImageUrl: null
deliveryLocation: null
deliveryLocationCd: "HR.ST.131001"
expireDt: "07-12-2019 00:00:00"
expired: true
id: 6
imageUrl: null
minPrice: null
note: "<li>sd,mfn,↵</li>"
paymentTerm: "<li>fdsnfmn↵</li>"
pid: 0
quotePrice: null
requestQty: "5000"
requiredEndDt: "2019-10-29"
requiredStartDt: "2019-10-22"
skuId: 352
skuName: "Cera Bidet S5020101"
status: null
statusCd: null
-->