<form>
    <!-- <a href="#" class="edit"><img src="img/edit-icon.png" alt="">Edit</a> -->
    <h4>Warehouse Address</h4>
    <div class="business-field-area">
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" id="mobile" class="form-control inputLableUp" value="">
                    <label class="form-control-placeholder" for="buisness">Name</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <textarea type="text" class="form-control inputLableUp"></textarea>
                    <label class="form-control-placeholder" for="buisness">Address Line 1</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <textarea type="text" class="form-control inputLableUp"></textarea>
                    <label class="form-control-placeholder" for="buisness">Address Line 2</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control inputLableUp" value="">
                    <label class="form-control-placeholder" for="buisness">Phone No.</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control inputLableUp" value="">
                    <label class="form-control-placeholder" for="buisness">Pin Code</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="custom-select form-control inputLableUp">
                        <option value="1"></option>
                        <option value="2">Delhi</option>
                        <option value="3">Kanpur</option>
                    </select>
                    <label class="form-control-placeholder" for="buisness">State</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select class="custom-select form-control inputLableUp">
                        <option value="1"></option>
                        <option value="2">Delhi</option>
                        <option value="3">Kanpur</option>
                    </select>
                    <label class="form-control-placeholder" for="buisness">City</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control inputLableUp" value="">
                    <label class="form-control-placeholder" for="buisness">Delivery range </label>
                    <span class="labrlkm">KM</span>
                </div>
            </div>
            <div class="col-md-6" *ngIf="!addressProofAlreadyPresent">
                <div class="form-group lableup form-control">
                    <div class="browser-method">
                        <img src="assets/img/upload.png" class="download-img" alt="">
                        <label class="myLabel">
                            <input type="file" required="" class="inputLableUp">
                            <span>UPLOAD ADDRESS PROOF</span>
                        </label>
                        <a href="#"> <img src="assets/img/svg-img/ic_information.svg" alt=""></a>
                    </div>
                    <label class="form-control-placeholder" for="buisness">Address Proof</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check pl-0 mt-4">
                    <input type="checkbox" class="checkbox-style" id="check1">
                    <label for="check1">Also add this as billing address.</label>
                </div>
            </div>
            <div class="col-md-12 save-orange">
                <!-- <button type="submit" class="btn orangeBttn brdbttn">Cancle</button> -->
                <button type="submit" class="btn orangeBttn">Save</button>
            </div>


        </div>
    </div>

</form>