<div class="mark-in-transit">
    <div class="container">
        <div class="mark-in-transit__headBar d-flex align-items-center justify-content-between pt-4 pb-2">
            <h3>
                <i aria-hidden="true" class="fa fa-angle-left mr-2" tabindex="0" [routerLink]="['/orders/details/awarded/'+purchaseId]"></i>
                Initiate Delivery</h3>
        </div>

        <div class="mark-in-transit__orders-list">
            <div class="mark-in-transit__order mb-3">
                <div class="mark-in-transit__card" *ngIf="itemsList">

                    <div class="mark-in-transit__title-section">
                        <div class="mark-in-transit__title-left">
                            <h4 class="mb-1">Purchase Order Id : {{ itemsList.orderNo }}</h4>
                            <p class="datetime mb-0">{{ itemsList.orderDate }}</p>
                        </div>
                    </div>

                    <form [formGroup]="deliveryRequestForm" (ngSubmit)="submit()">
                        <div class="mark-in-transit__items">
                            <p class="mb-2">Please Select Items Per Vehicle</p>
                            <hr class="mt-1"/>
                            <ng-container *ngIf="itemsList.orderItemList && itemsList.orderItemList.length">
                                <div class="mark-in-transit__items-list" *ngFor="let item of itemsList.orderItemList">
                                    <app-multi-item-checkbox [items]="item"></app-multi-item-checkbox>
                                </div>
                            </ng-container>
                        </div>


                        <div class="mark-in-transit__vehicle-details">
                        
                            <div class="form-outer">
                                <h3 class="mb-3">Invoice</h3>

                                <div class="row invoice d-flex align-items-center">
                                    <div class="col-md-4">
                                        <mat-form-field class="invoice-input mr-5 w-75">
                                            <input matInput type="text" placeholder="Invoice Number" formControlName="invoiceNo">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <app-upload label="invoiceAttachId" [isViewShow]="false" 
                                            #uploadRef (onFileUpdate)="invoiceDocUpdate($event)"></app-upload>

                                        <mat-error *ngIf="invoiceDocs && invoiceDocs.length == 0">
                                            Please Upload Invoice Docs
                                        </mat-error>

                                        <mat-error *ngIf="deliveryRequestForm.controls['invoiceAttachId'].value === undefined">
                                            Please upload Invoice Docs
                                        </mat-error>

                                    </div>
                                </div>
                            </div>
                            
                            <hr/>

                            <div class="form-outer">
                                <h3 class="mt-4 mb-3">Eway Bill</h3>

                                <div class="row invoice d-flex align-items-center">
                                    <div class="col-md-4">
                                        <mat-form-field class="invoice-input mr-5 w-75">
                                            <input matInput type="text" placeholder="Eway Bill Number" formControlName="ewayBillNo">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="mr-5 w-75">
                                            <input hidden matInput [matDatepicker]="ewayDate"
                                                formControlName="eWayBillDate" [min]="minDate">
                                            <span class="form-placeholder">{{ formatDate(deliveryRequestForm.controls.eWayBillDate.value) }}</span>
                                            <mat-datepicker-toggle matSuffix [for]="ewayDate"></mat-datepicker-toggle>
                                            <mat-datepicker #ewayDate></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <app-upload label="ewayBillAttachId" [isViewShow]="false" #uploadRef></app-upload>
                                    </div>
                                </div>
                            </div>
                            <hr/>

                            <div class="form-outer">
                                <h3 class="mt-4 mb-3">Delivery Challan</h3>
                                <div class="row invoice d-flex align-items-center">
                                    <div class="col-md-4">
                                        <mat-form-field class="invoice-input mr-5 w-75">
                                            <input matInput type="text" placeholder="Delivery Challan Number" formControlName="challanNo">
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-form-field class="mr-5 w-75">
                                            <input hidden matInput [matDatepicker]="picker1"
                                                [min]="minDate" formControlName="challanDate">
                                                <span class="form-placeholder">{{ formatDate(deliveryRequestForm.controls.challanDate.value) }}</span>
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <app-upload label="challanAttachId" [isViewShow]="false" #uploadRef></app-upload>
                                    </div>
                                </div>
                            </div>
                            <hr/>

                            <div class="form-outer">
                                <h3 class="mt-4 mb-3">Material Test Certificate</h3>

                                <div class="form-group lableup form-control">
                                    <app-upload label="materialTestAttachId" [isViewShow]="false" #uploadRef></app-upload>
                                </div>
                            </div>

                            <div class="form-outer">
                                <h3 class="mt-4 mb-3">Vehicle Details</h3>
                                <div class="vehicle-details-desc">

                                    <div class="row invoice d-flex align-items-center">
                                        <div class="col-md-4">
                                            <mat-form-field class="invoice-input mr-5 w-75">
                                                <input matInput type="text" placeholder="Transporter Name" formControlName="transporterName">
                                            </mat-form-field>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <!-- <mat-form-field class="invoice-input mr-5 w-75">
                                                <input matInput type="text" placeholder="Mode of Transport" formControlName="transportModeCd">
                                            </mat-form-field> -->

                                            <mat-form-field class="invoice-input mr-5 w-75">
                                                <mat-select formControlName="transportModeCd"
                                                    (selectionChange)="modeOfTransport($event)" required>
                                                    <mat-option value="TRUCK">TRUCK</mat-option>
                                                </mat-select>

                                                <mat-error *ngIf="!deliveryRequestForm.controls['transportModeCd'].value">
                                                    Please enter Mode of transport 
                                                </mat-error>
                                                
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row invoice d-flex align-items-center">
                                        <div class="col-md-4">
                                            <mat-form-field class="invoice-input mr-5 w-75">
                                                <input matInput type="text" placeholder="Vehicle No." formControlName="vehicleNo">
                                            </mat-form-field>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <mat-form-field class="invoice-input mr-5 w-75">
                                                <input matInput type="text" placeholder="Driver Name" formControlName="driverName">
                                            </mat-form-field>    
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <mat-form-field class="invoice-input mr-5 w-75">
                                                <input matInput type="number" placeholder="Driver Contact No." formControlName="driverPhone">
                                            </mat-form-field>    
                                        </div>
                                    </div>

                                    <div class="row invoice d-flex align-items-center">

                                        <div class="col-md-4">
                                            <mat-form-field class="invoice-input mr-5 w-75">
                                                <input matInput type="text" placeholder="LR No." formControlName="lorryReceiptNo">
                                            </mat-form-field>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <mat-form-field class="mr-5 w-75">
                                                <input hidden matInput [matDatepicker]="lrDate" 
                                                    [min]="minDate" formControlName="transportDate">
                                                    <span class="form-placeholder">{{ formatDate(deliveryRequestForm.controls.transportDate.value) }}</span>
                                                <mat-datepicker-toggle matSuffix [for]="lrDate"></mat-datepicker-toggle>
                                                <mat-datepicker #lrDate></mat-datepicker>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <app-upload label="lorryReceiptAttachId" [isViewShow]="false" #uploadRef (onFileUpdate)="lorryDocUpdate($event)"></app-upload>

                                            <mat-error *ngIf="lorryDocs && lorryDocs.length == 0">
                                                Please Upload Lorry Receipt
                                            </mat-error>

                                            <mat-error *ngIf="deliveryRequestForm.controls['lorryReceiptAttachId'].value === undefined">
                                                Please upload Lorry Receipt Docs
                                            </mat-error>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="btn-groups mt-3">
                                <button mat-button class="btn brdbttn mr-2" (click)="goBack()">Cancel</button>
                                <button mat-button class="btn text-white">Submit</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>