<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="footer-inbox-left">
                    <span>Trade Alert - Delivering the latest product trends and industry news straight to your
                        inbox.</span>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">Subscribe</span>
                        </div>
                    </div>
                    <p>We’ll never share your email address with a third-party.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="download-app">
                    <span>Download BuildSupply App</span>
                    <img src="assets/img/aap-img.png" alt="aap-img">
                    <img src="assets/img/aap2-img.png" alt="aap2-img">
                </div>
            </div>
        </div>
        <div class="foote-links-row">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-serverse">
                        <h5>Customer Services</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a [routerLink]="['/terms-and-conditions']" href="#">Terms &amp; Conditions</a></li>
                            <li><a [routerLink]="['/privacy-policy']" href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <div class="footer-serverse">
                        <h5>Get To know us</h5>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-serverse">
                        <h5>Make Money with Us</h5>
                        <ul>
                            <li><a href="#">Sell On BuildSupply</a></li>
                            <li><a href="#">Become An Affiliate</a></li>
                            <li><a href="#">Fullfilment By BuildSupply</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-serverse">
                        <h5>Payment and shipping</h5>
                        <ul>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Shopping Guide</a></li>
                            <li><a href="#">Locations We Ship To</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>