<section class="footer">
    <div class="container-fluid">

        <div class="foote-links-row">
            <div class="row">
                <div class="col-lg-2 col-md-6">
                    <div class="footer-serverse">
                        <h5>About</h5>
                        <ul>
                            <li><a href="https://buildsupply.com/static/about-us" target="_blank">About Us</a></li>
                            <li><a href="https://erp.buildsupply.com/e-procurement/seller/">Why Sell on Buildsupply</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="footer-serverse">
                        <h5>Help</h5>
                        <ul>
                            <li><a [routerLink]="['/terms-and-conditions']" href="javascript:void(0)" (click)="footer_links()">Terms &amp; Conditions</a></li>
                            <li><a [routerLink]="['/privacy-policy']" href="javascript:void(0)" (click)="footer_links()">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 ">
                    <div class="footer-serverse">
                        <h5>Social</h5>
                        <ul>
                            <li><a href="https://www.facebook.com/buildsupply">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/company/buildsupply">Linkedin</a></li>
                            <li><a href="https://twitter.com/buildsupplynews">Twitter</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6">
                    <div class="footer-serverse">
                        <h5>Resources</h5>
                        <ul>
                            <li><a href="https://erp.buildsupply.com/blog/">Blog</a></li>
                            <li><a href="https://erp.buildsupply.com/press.html">Press</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="footer-serverse">
                        <h5>Download BuildSupply App</h5>
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.buildsupply.commerce.seller">
                            <img src="assets/img/aap-img.png" alt="aap-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
